/*Custom Fonts*/

@font-face{
  font-family: 'Agane-Extra-Bold-Sign';
  src: url('fonts/agane/Aganè 75 (Extra Bold) sign');
}
@font-face{
  font-family: 'Agane-45';
  src: url('fonts/agane/Aganè 45 (light).ttf');
}
@font-face{
  font-family:  'Exodus';
  src: url('fonts/exodus/Exodus-PersonalUse-Regular.otf');
}
@font-face{
  font-family: 'Exodus-Sharp';
  src: url('fonts/exodus/Exodus-PersonalUse-Sharpen.otf');
}
@font-face{
  font-family: 'Exodus-Stripe';
  src: url('fonts/exodus/Exodus-PersonalUse-Striped.otf');
}

/*Navigation and Site-Wide*/

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.navbar-inverse {
  background: rgba(240, 240, 240, 0.9);
}
.navbar-brand {
  padding: .2em .7em;
}
.workName {
  padding-bottom: 2em;  
}
.nav-logo {
  width: 2em;
  height: 2em;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: black;
}

/*Site Wide Font*/

body {
  background-color: #B3B3B3;
}
* {
  font-family: 'Agane-45', monospace;
}
.box-element{
  border-radius: 15px;
}
p, a {
  font-family: 'Agane-45', monospace;
  color: #969696;
}
h1 {
  color: #f0f0f0;
  text-shadow: 0 0 10px white;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: 'Exodus-Stripe';
}
h2 {
  color: white;
}
h1, h2, .nav li {
  text-transform: uppercase;
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}
.stripe {
  font-family: 'Exodus-Stripe', monospace;
}
.title {
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

/*Landing*/

.logo-landing {
  background-image: url("../img/gridscape_white.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}
.logo-landing {
  min-height: 100vh;
}
.logo-title-center {
  text-align: center;   
}
.logo-title-center img {
  width: 80%;
  max-width: 250px;
}
.hex-port img {
  width: 100%;
  max-width: 200px;
}
.center-port img {
  width: 50%;
  max-width: 200px;
}
.important-elements {
  -webkit-filter: drop-shadow(0px 0px 5px white);
  filter: drop-shadow(0px 0px 5px white);
}
.less-important-elements {
  -webkit-filter: drop-shadow(0px 0px 1px white);
  filter: drop-shadow(0px 0px 1px white);
}

/*Landing Logo and Buttons*/

.center {
  margin: 0 auto;
  width: 100%;
}
.landing-title {
  margin-top: 15vh;
}
.landing-title h1 {
  font-size: 3.1vw;  
}

/*Fix Heading from Jumping over Logo*/

@media (min-width: 900px) {
  .landing-title h1 {
    padding-top: 2.5vw;
  }
}
.logo-landing img {
  max-width: 40vw;
}
.landing-btns {
  margin-top: 35vh;
}
.btn-main {
  background-color: #f2c193;
  color: black;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background .5s; 
  border-radius: 10px;
  font-family: 'Agane-45', monospace;
}
.btn-main:hover{
  background-color: black;
  color: white;
  text-decoration: none;
  cursor: pointer; 
  transition: background .1s;
  -webkit-filter: drop-shadow(0px 0px 2px white);
  filter: drop-shadow(0px 0px 2px white); 
}

.btn-main:visited {
  text-decoration: none;
}

/*Work*/

.work {
  background-color: #f2f2f2;
  min-height: 100vh;
}

.work h2 {
  color: #555;
}

#portfolio {
  text-align: center;
  max-width: 150vh;
  margin: 0 auto;
}

#portfolio .row .col-sm-4 {
  padding: 0;
}

.portfolio-sample {
  opacity: 0.5;
  transition: 0.5s;
}

.portfolio-sample:hover {
  opacity: 1;
  transition: 0.5s;
}

.shadow-sample {
  opacity: 0.1;
  transition: 0.5s;
}

.select-sample {
  opacity: 1;
  transition: 0.5s;
}

#skills-used {
  text-align: center;
  max-width: 150vh;
  margin: 0 auto;
}

#skills-used .col-sm-2 {
  text-align: center;
}

#skills-used i {
  text-align: center;
  font-size: 13vh;
}

/*CF Project*/
.work-img {
  display: block; /* needed to center the element with margin */
  margin: 20px auto; /* center the image inside the column if it's smaller */
  max-width: 90%;
  min-width: 10vw; /* needs to be set to the width of your image files if they are relatively small */
  position: relative; /* is needed for .info position: absolute to work */
}
.info {
  position: absolute;
  top: 15%;
  left: 20%;
  margin-right: 20%;
  padding: 1%;
  color: white;
  background-color: black;
  text-shadow: 2px 2px black;
  font-size: 1.3em;
  font-weight:700;
  letter-spacing:0.5em;
  line-height:1.6;
  display: none;
}
.proj-title {
  font-weight:100;
}
.work-thumbs .caption {
  color: white;
}
.work-thumbs div {
  border-radius: 25px;
}
.thumbnail {
  max-width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
  background: none;
  border: none;
}
.thumbnail h3 {
  color: white;
}
.thumbnail img {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
}
.tabnote img{
  width: 60%;
  max-width: 768px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mobnote img{
  width: 60%;
  max-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btm-btnz {
   text-align:center;
}

.btm-btnz .modal-button {
    display: inline;
    padding-top: 0;
}

.btm-btnz a, .btm-btnz button {
  background-color: black;
  color: white;
  border-color: black;
  transition: background .5s; 
  margin-left: .2em;
  margin-right: .2em;
  font-size: 1em;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-family: 'Agane-45', monospace;
  min-width: 2.6em;
  max-height: 2em;
}

.btm-btnz a:hover, .btm-btnz button:hover {
  background-color: white;
  color: black;
  border-color: white;
}

.btm-btnz button:focus {
  color: white;
}

.modal-header h4 {
  color: black;
  font-size: 2em;
}

.caption p {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
} 

.videoWrapper iframe {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none
}

/*Practice*/

.practice-background {
  background: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

.practice {
  padding: 2%;
}

#practice-heading {
  margin-top: 40px;
  color: white;
}

.practice .row {
  margin-top: 40vh;
}

.practice img {
  width: 15vw;
  /*border-radius: 100%;*/
  transition: .2s;
}

.practice img:hover {
  -webkit-filter: drop-shadow(0px 0px 7px #a2bedd);
}

.practice i {
  font-size: 15vw;
  color: white;
  transition: .2s;
}

.practice i:hover {
  text-shadow: 0 0 40px #a2bedd;
}
/*About*/

/*Mobile*/

.panel-group .panel {
  border-radius: 10px;
  margin: 0 10vw;
}

.panel-title {
  text-transform: none !important;
  text-align: left;
}

.panel-default>.about-pan {
  text-align: center;
  color: white;
  background-color: #222222;
  border-color: #222222;
  transition: background .5s; 
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
}

.panel-default>.about-pan:hover {
  color: white;
  background-color: black;
  text-decoration: none;
  text-shadow: 0 0 10px white;
}

.modal-button {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.about-pan .modal-button .btn-main {
  font-size: 1.2em;
  padding: 8px 20px; 
} 

.modal-button button:focus {
  outline:0;
}

.modal-button button:active {
  outline:0;
}

.modal-button button:visited {
  outline:0;
}

.modal-embeds {
  height: 80vh;
  width: 100%;
  padding: 10px;
}

.landing-bottom {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,050400+100&0+0,1+100 */
  height: 15vh;
  width: 100vw;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(5,4,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(5,4,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(5,4,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.about {
  background-color: #B3B3B3;
}

.about-desktop p {
  color: #f0f0f0;
  font-size: 1em;
}

/*Space History*/

.history p, .history h2, .history h3{
  color: white;
}

.history h2 {
  margin-top: 40px;
}

.history h3 {
  font-family: 'Agane-45', monospace;
  text-transform: none;
}

.history {
  width:80%;
  margin:0 auto;
  overflow:auto;
  padding:2%;
}
.right-content, .left-content {
  float:left;
  display:block;
  width:50%;
  padding:1% 2%;
}

.container p img {
  max-width: 220px;
}

.left-content {
  border-right:5px dotted #666; 
  text-align:right;
}

.left-content h2, .left-content h3 {
  text-align: right;
}

.left-content p {
  padding-left: 10vw;
}

.right-content p {
  padding-right: 10vw;
}
.left-content p:nth-child(1) {
  margin: 75px 0 0;
}
.left-content p:nth-child(2) {
  margin:1vw 0 0;
}
.left-content h3:nth-child(3) {
  margin:150px 0 0;
}
.left-content p:nth-child(4) {
  margin:50px 0 0;
}
.left-content p:nth-child(5) {
  margin:1vw 0 0;
}
.left-content p:nth-child(6) {
  margin:80px 0 0;
  color: #FE4042;
}
.left-content p:nth-child(7) {
  margin:1vw 0 0;
}
.left-content h3:nth-child(8) {
  margin:120px 0 0;
}
.left-content p:nth-child(9) {
  margin:80px 0 0;
}
.left-content p:nth-child(9) img {
  width: 100px;
}
.left-content p:nth-child(11) {
  margin:50px 0 0;
  color: #f4f4c3;
}
.left-content h3:nth-child(13) {
  margin:70px 0 0;
}
.left-content p:nth-child(14) {
  margin:150px 0 0;
}
.left-content p:nth-child(14) {
  color: skyblue;
}
.left-content h3:nth-child(16) {
  margin:70px 0 0;
}
.left-content p:nth-child(17) {
  margin:50px 0 0;
}
.left-content h3:nth-child(19) {
  margin:80px 0 0;
}
.left-content p:nth-child(20) {
  margin:80px 0 0;
}
.left-content h3:nth-child(22) {
  margin:80px 0 0;
}
.left-content h3:nth-child(23) {
  margin:210px 0 0;
}
.history-icon {
  font-size: 8vw;
}

.right-content h2, .right-content h3 {
  text-align: left;
}
.right-content p:nth-child(1), .right-content p:nth-child(4), .right-content p:nth-child(8), .right-content p:nth-child(10)  {
  font-family: 'Exodus', monospace;
  font-size: 2.5em;
  font-weight: bold;
}
.right-content p:nth-child(1) {
  margin: 2vw 0 0;
}
.right-content p:nth-child(2) {
  margin: 300px 0 0;
}
.right-content p:nth-child(3) {
  margin: 1vw 0 0;
}
.right-content h2:nth-child(4) {
  margin: 80px 0 0;
}
.right-content h3:nth-child(5) {
  margin: 150px 0 0;
}
.right-content p:nth-child(6) {
  margin: 190px 0 0;
}
.right-content h2:nth-child(8) {
  margin: 70px 0 0;
}
.right-content h3:nth-child(9) {
  margin: 170px 0 0;
}
.right-content h2:nth-child(10) {
  margin: 200px 0 0;
}
.right-content h3:nth-child(11) {
  margin: 130px 0 0;
}
.right-content p:nth-child(11) {
  margin: 50px 0 0;
}
.right-content h3:nth-child(13) {
  margin: 220px 0 0;
}
.right-content h2:nth-child(14) {
  margin: 50px 0 0;
}
.right-content h3:nth-child(15) {
  margin: 120px 0 0;
}
.right-content h2:nth-child(16) {
  margin: 80px 0 0;
}
.right-content h3:nth-child(17) {
  margin: 230px 0 0;
}
.right-content p:nth-child(18) {
  margin: 50px 0 0;
}
.container p {
  font-size: 1.5em;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7 ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}

#moscow {
  max-width: 150px;
}

#baku {
  max-width: 120px;
}

/*Skills*/

.skills {
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vw;
  background: #B3B3B3;
}

.skills h3 {
  text-align: center;
}

.skills h3 a {
  font-family: 'Exodus', monospace;
}

.skills-pan>.panel, .skills-pan>.panel-default>.panel-heading {
  color: white;
  background: #595959;
  transition: background .5s; 
  border-radius: 15px;
  border-color: #595959;
}

.skills-pan>.panel-default>.panel-heading:hover {
  color: black;
  background: white;
  text-shadow: 0 0 10px white;
}

/*Skill Icons*/

.skills-pan div {
  text-align: center;
}

.skills-pan .col-xs-4 {
  margin: 30px 0;
}

.skills-pan i {
  font-size: 50px;
}

@media (min-width: 768px) {
  .skills-pan i {
    font-size: 8vw;
    transition: .5s;
  } 
}

.panel-body div {
  margin-bottom: 10px;
}

.skills-pan i:hover {
  text-shadow: 0 0 10px white;
  transition: .5s;
  color: black;
}

.dark-light {
  background: url("../img/hexyback.jpg") no-repeat center center fixed;
}


.dark-light img {
  min-width: 25vw;
}

.dark-light h2, .dark-light p {
  color: white;
  padding: 20px;
  font-family: 'Exodus-Stripe', monospace;
}

/*Contact*/

.contact {
  background: url("../img/gridscape_end.png");
  background-attachment: fixed;
  background-position: center;
  min-height: 85vh
}

.contact-col {
  margin-left: 5vw;
}

/*Contact Info*/
.contact-name {
  font-family: 'Exodus', monospace;
}

.contact h2 {
  color: white;
}

.contact p {
  color: white;
  text-shadow: 0 0 5px white;
  font-size: 1.5em;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact a:hover {
  text-shadow: 0 0 10px #f2c193;
  color: #f2c193;
  transition-duration: 0.5s;
}

#map {
  height: 40vh;
  min-width: 200px;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

/*Contact Form*/
.contact form h2 {
  text-shadow: 0 0 5px white;
  font-size: 1.9em;
  color: white;
  margin-top: 0px;
}

.contact form input, .contact form textarea {
  border-radius: 5px;
  width: 100%;
  font-family: 'Agane-45', monospace;
  font-size: 1em;
  margin-top: 1em;
}

form {
  margin-bottom: 50px;
}
#input-submit {
  max-width: 10em;
}

/*Footer*/
  
footer {
  min-height: 80px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  background-color: #222222;
  color: white;
  font-family: 'Agane-45', monospace;
}

footer .fa {
  font-size: 36px;
}

footer i {
  margin-left: 5%;
}

footer i:hover {
  color: white;
}

.foot {
  display: inline;
  margin-top: 10px;
}

.anchor {
  padding: 51px 0;
  width: 100%;
  background-size: cover;
  position: relative;
}

/*Desktop*/

@media (min-width: 768px) {
  .nav-bar-desktop {
    margin: 0 auto;
    width: 80%;
  }
}

/*Tablet*/

@media (max-width: 769px) {

  h1 {
    font-size: 1.7em;
  }

  h3 {
    font-size: 1.5em;
  }

  .center {
    width: 100%;
  }

  .landing-bottom {
    display: none;
  }

  /*Remove Parallax by Recalling Image, Not Fixed */

  .logo-landing {
    width: 100%;
  }

  .logo-landing img {
    margin-top: 15vh;
  }

  .logo-title {
    margin-top: 5vh;
  }

  .about {
    width: 100%;
  }

  .about-desktop p {
    font-size: 1.5em;
    margin: 2em;
  }

  .hex-port {
    text-align: center;
  }

  .skills {
    width: 100%;
    min-height: 90vh;
  }
  .work {
    width: 100%;
  }
  .work img {
    width: 100%;
  }
  .process {
  width: 100%;
  } 
  .contact {
  width: 100%;
  }
  .anchor {
    min-height: 100vh;
  }

  .container-fluid>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }

  /*Reformat Landing Elements*/
  
  .landing-title .row {
    margin-right: 0;
    margin-left: 0;
  }

  .landing-title h1 {
    font-size: 20px;
    height: 20px;
  }

  .landing-title {
    margin-top: 0;
  }

  .landing-btns {
    margin-top: 25px;
  }
  .btm-but {
    margin-top: 1vh;
  }

  .btm-but a {
    padding-right: 26px;
    padding-left: 26px;
  }

  .btn-main {
    padding: 8px 20px;
  }

  /*Reformat Work*/

  #portfolio {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }

  /*Reformat Skills Icons*/

  /*.skills-pan i {
    font-size: 10vw;
  }*/

  /*Reformat Process Episodes*/

  .process-episodes div h3{
    font-size: 1.4em;
  }

  .process-episodes div p{
    font-size: 1.3em;
  }

  /*Reformat Work Samples*/

  .work .row {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .image-responsive {
    min-width: 30vw;
  }

  /*Reformat Contact Content*/
  .contact p {
  color: white;
  text-shadow: 0 0 5px white;
  font-size: 1.3em;
  margin-left: 10%;
  }
  .contact form {
    margin-left: 10%;
    margin-right: 10%;
  }

}

/*Mobile*/

@media (max-width: 415px) {

  footer {
    padding-right: 1%;
    padding-left: 1%;
    font-size: 12px;
  }
  /*Reformat Skills Icons*/
  /*.skills-pan i {
    font-size: 12vh;
  }*/

}

/*My Mobile*/
  
@media (max-width: 320px) {
  /*Reformat Skills Icons*/
  /*.skills-pan i {
    font-size: 8vh;
  }*/
}

form h3 {
  color: white;
}

.modal-title {
  font-family: 'Agane-45', monospace;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

input, textarea {
  padding: 10px;
  border: none;
  color: black;
}

.btn-center {
  margin: auto;
}

textarea {
  resize: none;
}

/*404*/

.error-page {
  background-image: url("http://2.bp.blogspot.com/_lBWYz29Iw_g/TQHtE7c7j2I/AAAAAAAAFnI/8Xwj-9OqPsg/s1600/rc-star-wars-003.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  min-height: 100vh;
}

.error-page .container {
  min-height: 100vh;
}
.error-title {
  margin-top: 10vh;
}

/*Work Pages*/

.work-page {
  padding-top: 60px;
  background-color: white;
  color: #969696;
}

.top-side {
  padding-top: 70px;
}

.work-box {
  padding: 70px;
  padding-top: 0px;
}

.work-box p, li {
  font-size: 1em;
}

.work-page-feature {
  width: 100%;
}

.work-title {
  color: #969696;
  margin-top: 0;
}

.skills-used {
  margin: 40px 0;
}

.skills-used i {
  font-size: 4vw;
}

@media (max-width: 767px) {
  .skills-used i {
    font-size: 8vw;
  }
}

@media (min-width: 767px) {
  .bottom-row {
    display: flex;
  }
}

.work-button {
  text-align: center;
  margin-top: 40px;
}

.light-box {
  flex: 1;
  padding-top: 70px;
  background-color: #d3d3d3;
  min-height: 100%;
}

.light-box p, .light-box li {
  color: black;
}

.gray-box {
  padding-top: 70px;
  background-color: #2e2e2e;
  min-height: 100%;
}

.video-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}

.video-box iframe{
  position: absolute;
}

.about-title {
  padding-bottom: 20px;
}

.about-para {
  padding: 5px 0px;
}

#legal {
  font-size: 8px;
  margin-bottom: 20px;
}
