/*Custom Fonts*/

@font-face{
  font-family: 'Agane-Extra-Bold-Sign';
  src: url('fonts/agane/Aganè 75 (Extra Bold) sign');
}
@font-face{
  font-family: 'Agane-45';
  src: url('fonts/agane/Aganè 45 (light).ttf');
}

/*Navigation and Site-Wide*/

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.navbar-inverse {
  background: rgba(240, 240, 240, 0.9);
}
.navbar-brand {
  padding: .2em .7em;
}
.workName {
  padding-bottom: 2em;
}
.nav-logo {
  width: 2em;
  height: 2em;
}
.navbar-inverse .navbar-nav>li>a {
  color: black;
}
.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #F2C193;
  transition: 0.3s;
}
.navbar-inverse .navbar-nav>.active>a {
  background-color: #424242;
  transition: 0.3s;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #424242;
}
/*Site Wide Font*/

body {
  background-color: #424242;
}
* {
  font-family: 'Agane-45', sans-serif;
}
.box-element{
  border-radius: 15px;
}
p, a {
  color: #969696;
}
h1 {
  color: #f0f0f0;
  padding-bottom: 20px;
}
h2 {
  color: white;
}
h1, h2, .nav li {
  /*text-transform: uppercase;*/
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}
.title {
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

/*Landing*/

.logo-landing {
  /*background-image: url("../img/gridscape_white.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;*/
  min-height: 100vh;
}
.logo-landing {
  min-height: 100vh;
}
.logo-title-center {
  text-align: center;
}
.logo-title-center img {
  width: 80%;
  max-width: 250px;
}
.hex-port img {
  width: 100%;
  max-width: 200px;
}
.center-port img {
  width: 50%;
  max-width: 200px;
}
.important-elements {
  -webkit-filter: drop-shadow(0px 0px 5px white);
  filter: drop-shadow(0px 0px 5px white);
}
.less-important-elements {
  -webkit-filter: drop-shadow(0px 0px 1px white);
  filter: drop-shadow(0px 0px 1px white);
}

/*Particles*/

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #424242;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#over-particles {
  z-index: 1;
}

/*Landing Logo and Buttons*/

.center {
  margin: 0 auto;
  width: 100%;
}
.landing-title {
  margin-top: 15vh;
}
.landing-title h1 {
  font-size: 4vw;
}

/*Fix Heading from Jumping over Logo*/

@media (min-width: 900px) {
  .landing-title h1 {
    padding-top: 2.5vw;
  }
}
.logo-landing img {
  max-width: 40vw;
}
.landing-btns {
  margin-top: 35vh;
}
.btn-main {
  background-color: #F2C193;
  color: black;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background .5s;
  border-radius: 10px;
}
.btn-main:hover{
  background-color: black;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background .1s;
  -webkit-filter: drop-shadow(0px 0px 2px white);
  filter: drop-shadow(0px 0px 2px white);
}

.btn-main:visited {
  text-decoration: none;
}

/*Work*/

.work {
  background-color: #dddbdb;
  min-height: 100vh;
}

.work h2 {
  color: #555;
}

#portfolio {
  text-align: center;
  max-width: 180vh;
  margin: 5vh auto 0 auto;
}

#portfolio .row .col-sm-3 {
  padding: 0;
}

.portfolio-sample {
  opacity: 0.7;
  transition: 0.5s;
}

.portfolio-sample:hover {
  opacity: 1;
  transition: 0.5s;
}

.shadow-sample {
  opacity: 0.1;
  transition: 0.5s;
}

.select-sample {
  opacity: 0.7;
  transition: 0.5s;
}

.atom-colored {
  color: #F2C193;
}

.slack-colored {
  color: #4B6BC6;
}

.github-colored {
  color: white;
}

#skill-list {
  margin: 2.5vh 0;
}

#skill-list i {
  transition: 0.5s;
}

#skill-list i:hover {
  text-shadow: black 5px 5px 10px;
  color: white;
  transition: 0.5s;
}

#skills-used {
  text-align: center;
  max-width: 150vh;
  margin: 0 auto;
}

#skills-used .col-sm-2 {
  text-align: center;
}

#skills-used i {
  text-align: center;
  font-size: 13vh;
}

.btm-btnz {
   text-align:center;
}

.btm-btnz .modal-button {
    display: inline;
    padding-top: 0;
}

.btm-btnz a, .btm-btnz button {
  background-color: black;
  color: white;
  border-color: black;
  transition: background .5s;
  margin-left: .2em;
  margin-right: .2em;
  font-size: 1em;
  margin-bottom: 5%;
  text-transform: uppercase;
  min-width: 2.6em;
  max-height: 2em;
}

.btm-btnz a:hover, .btm-btnz button:hover {
  background-color: white;
  color: black;
  border-color: white;
}

.btm-btnz button:focus {
  color: white;
}

.modal-header h4 {
  color: black;
  font-size: 2em;
}

.caption p {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

/*Mobile*/

.panel-group .panel {
  border-radius: 10px;
  margin: 0 10vw;
}

.panel-title {
  text-transform: none !important;
  text-align: left;
}

.panel-default>.about-pan {
  text-align: center;
  color: white;
  background-color: #222222;
  border-color: #222222;
  transition: background .5s;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
}

.panel-default>.about-pan:hover {
  color: white;
  background-color: black;
  text-decoration: none;
  text-shadow: 0 0 10px white;
}

.modal-button {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.about-pan .modal-button .btn-main {
  font-size: 1.2em;
  padding: 8px 20px;
}

.modal-button button:focus {
  outline:0;
}

.modal-button button:active {
  outline:0;
}

.modal-button button:visited {
  outline:0;
}

.modal-embeds {
  height: 80vh;
  width: 100%;
  padding: 10px;
}

.landing-bottom {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,050400+100&0+0,1+100 */
  height: 15vh;
  width: 100vw;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(5,4,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(5,4,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(5,4,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.about {
  background-color: #828080;
}

.about-desktop p {
  color: #f0f0f0;
  font-size: 1em;
}

.about-action {
  text-align: center;
}

.about-action .col-sm-4 {
  margin-top: 3vw;
}

.about-action i {
  font-size: 10vw;
}

/*Space History Background*/

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1363px 1206px #FFF , 330px 1711px #FFF , 359px 1065px #FFF , 1170px 1378px #FFF , 337px 1192px #FFF , 1512px 1748px #FFF , 902px 542px #FFF , 997px 1242px #FFF , 281px 308px #FFF , 679px 1438px #FFF , 1799px 664px #FFF , 11px 457px #FFF , 1956px 1406px #FFF , 1311px 1486px #FFF , 1083px 1724px #FFF , 1540px 1595px #FFF , 1183px 1467px #FFF , 518px 1250px #FFF , 158px 1467px #FFF , 56px 251px #FFF , 418px 300px #FFF , 1694px 1246px #FFF , 1637px 1423px #FFF , 458px 324px #FFF , 1987px 821px #FFF , 1546px 1249px #FFF , 1141px 1447px #FFF , 1856px 190px #FFF , 1266px 1542px #FFF , 1466px 394px #FFF , 1775px 1085px #FFF , 107px 1207px #FFF , 1892px 1785px #FFF , 814px 637px #FFF , 1769px 1039px #FFF , 405px 698px #FFF , 1054px 569px #FFF , 923px 1842px #FFF , 387px 1338px #FFF , 1514px 100px #FFF , 663px 985px #FFF , 1940px 1918px #FFF , 470px 1268px #FFF , 1777px 837px #FFF , 413px 271px #FFF , 1497px 995px #FFF , 623px 1165px #FFF , 355px 1133px #FFF , 214px 1973px #FFF , 732px 431px #FFF , 1703px 1959px #FFF , 864px 128px #FFF , 1059px 1161px #FFF , 1439px 836px #FFF , 503px 1348px #FFF , 303px 902px #FFF , 1065px 216px #FFF , 1435px 1732px #FFF , 1878px 1098px #FFF , 1470px 1347px #FFF , 378px 82px #FFF , 1089px 1642px #FFF , 441px 1727px #FFF , 352px 1333px #FFF , 1180px 1699px #FFF , 1990px 178px #FFF , 1115px 1596px #FFF , 252px 860px #FFF , 1667px 517px #FFF , 851px 242px #FFF , 517px 1220px #FFF , 550px 746px #FFF , 1349px 1724px #FFF , 800px 1953px #FFF , 1109px 1176px #FFF , 1915px 1957px #FFF , 1228px 1186px #FFF , 459px 49px #FFF , 805px 1674px #FFF , 492px 754px #FFF , 723px 766px #FFF , 55px 460px #FFF , 1331px 1669px #FFF , 1107px 177px #FFF , 1822px 798px #FFF , 1235px 616px #FFF , 462px 138px #FFF , 125px 1723px #FFF , 1432px 1165px #FFF , 1429px 1247px #FFF , 1327px 1766px #FFF , 1310px 1702px #FFF , 526px 1524px #FFF , 255px 549px #FFF , 1367px 953px #FFF , 561px 1314px #FFF , 1141px 665px #FFF , 1672px 1088px #FFF , 1698px 1701px #FFF , 1812px 878px #FFF , 1158px 898px #FFF , 754px 1307px #FFF , 169px 109px #FFF , 454px 721px #FFF , 504px 1883px #FFF , 483px 1664px #FFF , 966px 1154px #FFF , 1908px 109px #FFF , 1017px 1062px #FFF , 350px 1088px #FFF , 1381px 352px #FFF , 233px 334px #FFF , 906px 673px #FFF , 1877px 1191px #FFF , 1592px 205px #FFF , 896px 367px #FFF , 1523px 336px #FFF , 120px 660px #FFF , 1291px 1768px #FFF , 50px 1194px #FFF , 1981px 282px #FFF , 1261px 489px #FFF , 455px 1348px #FFF , 1695px 1073px #FFF , 1919px 1626px #FFF , 722px 1017px #FFF , 213px 477px #FFF , 177px 1203px #FFF , 1777px 780px #FFF , 295px 67px #FFF , 1057px 926px #FFF , 1560px 436px #FFF , 560px 790px #FFF , 1220px 1664px #FFF , 580px 1196px #FFF , 313px 579px #FFF , 912px 1206px #FFF , 1162px 1310px #FFF , 1319px 1365px #FFF , 260px 1341px #FFF , 910px 1601px #FFF , 724px 259px #FFF , 177px 835px #FFF , 168px 1970px #FFF , 1428px 670px #FFF , 356px 1020px #FFF , 1086px 267px #FFF , 1924px 371px #FFF , 1428px 1580px #FFF , 1710px 1861px #FFF , 1912px 645px #FFF , 806px 514px #FFF , 1678px 1916px #FFF , 1647px 442px #FFF , 1494px 1691px #FFF , 576px 1789px #FFF , 1852px 1460px #FFF , 1034px 1045px #FFF , 188px 267px #FFF , 1212px 1339px #FFF , 1991px 1103px #FFF , 1936px 282px #FFF , 1299px 547px #FFF , 631px 1503px #FFF , 138px 27px #FFF , 1131px 1263px #FFF , 42px 384px #FFF , 623px 268px #FFF , 912px 1124px #FFF , 1250px 1332px #FFF , 821px 1795px #FFF , 707px 841px #FFF , 1065px 141px #FFF , 1615px 811px #FFF , 1120px 349px #FFF , 199px 2px #FFF , 723px 509px #FFF , 1329px 971px #FFF , 1088px 1942px #FFF , 434px 1694px #FFF , 678px 979px #FFF , 755px 717px #FFF , 954px 722px #FFF , 19px 1932px #FFF , 965px 1523px #FFF , 947px 990px #FFF , 890px 606px #FFF , 1301px 1503px #FFF , 1855px 1862px #FFF , 1351px 1684px #FFF , 1636px 256px #FFF , 1788px 1118px #FFF , 1049px 1253px #FFF , 1517px 1915px #FFF , 885px 1589px #FFF , 1228px 371px #FFF , 1324px 704px #FFF , 368px 1991px #FFF , 1013px 609px #FFF , 1119px 89px #FFF , 1296px 642px #FFF , 1101px 481px #FFF , 679px 1799px #FFF , 858px 533px #FFF , 1984px 1110px #FFF , 852px 1583px #FFF , 109px 1090px #FFF , 454px 1851px #FFF , 976px 892px #FFF , 325px 962px #FFF , 1823px 1600px #FFF , 838px 66px #FFF , 1699px 536px #FFF , 259px 943px #FFF , 600px 1460px #FFF , 1451px 1836px #FFF , 1146px 590px #FFF , 1905px 2000px #FFF , 1089px 880px #FFF , 797px 232px #FFF , 504px 905px #FFF , 1220px 1148px #FFF , 186px 1073px #FFF , 1191px 1002px #FFF , 1375px 648px #FFF , 856px 309px #FFF , 1811px 1661px #FFF , 1578px 1735px #FFF , 1198px 1465px #FFF , 1513px 1075px #FFF , 192px 998px #FFF , 1118px 1845px #FFF , 568px 264px #FFF , 148px 43px #FFF , 813px 959px #FFF , 1206px 1794px #FFF , 1390px 1466px #FFF , 418px 1670px #FFF , 1175px 1515px #FFF , 1080px 827px #FFF , 981px 1946px #FFF , 96px 989px #FFF , 842px 782px #FFF , 944px 1290px #FFF , 1131px 1213px #FFF , 1172px 1553px #FFF , 1431px 1014px #FFF , 1812px 1234px #FFF , 1009px 342px #FFF , 1210px 1894px #FFF , 1857px 838px #FFF , 1369px 902px #FFF , 1695px 288px #FFF , 1364px 776px #FFF , 1465px 1502px #FFF , 493px 1251px #FFF , 974px 1527px #FFF , 962px 1223px #FFF , 447px 1505px #FFF , 1709px 1543px #FFF , 285px 56px #FFF , 1642px 915px #FFF , 1140px 688px #FFF , 1422px 741px #FFF , 1089px 161px #FFF , 114px 1318px #FFF , 416px 1399px #FFF , 1725px 1659px #FFF , 952px 55px #FFF , 1180px 120px #FFF , 1066px 118px #FFF , 1815px 1856px #FFF , 315px 302px #FFF , 1415px 990px #FFF , 1385px 743px #FFF , 1060px 827px #FFF , 1787px 349px #FFF , 1446px 710px #FFF , 1404px 67px #FFF , 282px 1059px #FFF , 571px 1585px #FFF , 1150px 1222px #FFF , 222px 625px #FFF , 308px 56px #FFF , 104px 529px #FFF , 1791px 455px #FFF , 1052px 1862px #FFF , 1303px 1449px #FFF , 189px 1568px #FFF , 450px 546px #FFF , 1792px 1720px #FFF , 1827px 1008px #FFF , 245px 1697px #FFF , 536px 994px #FFF , 1308px 475px #FFF , 369px 251px #FFF , 1703px 425px #FFF , 1979px 105px #FFF , 1638px 1690px #FFF , 605px 1624px #FFF , 473px 1535px #FFF , 1032px 1214px #FFF , 697px 493px #FFF , 460px 1093px #FFF , 772px 1955px #FFF , 507px 12px #FFF , 1315px 345px #FFF , 560px 750px #FFF , 1507px 1642px #FFF , 1493px 430px #FFF , 1024px 856px #FFF , 964px 72px #FFF , 435px 861px #FFF , 1009px 1247px #FFF , 1944px 1095px #FFF , 1596px 936px #FFF , 660px 1518px #FFF , 1289px 157px #FFF , 425px 35px #FFF , 844px 1846px #FFF , 1903px 1646px #FFF , 1651px 1871px #FFF , 527px 1998px #FFF , 876px 562px #FFF , 1122px 1500px #FFF , 1749px 1942px #FFF , 1872px 1716px #FFF , 972px 1221px #FFF , 1143px 1315px #FFF , 1265px 1086px #FFF , 733px 242px #FFF , 1667px 277px #FFF , 1152px 409px #FFF , 1859px 21px #FFF , 1470px 850px #FFF , 993px 838px #FFF , 848px 1413px #FFF , 1031px 1478px #FFF , 471px 763px #FFF , 940px 1046px #FFF , 245px 707px #FFF , 1107px 1971px #FFF , 1520px 1101px #FFF , 453px 687px #FFF , 1471px 7px #FFF , 530px 481px #FFF , 793px 1425px #FFF , 958px 1080px #FFF , 1538px 13px #FFF , 312px 1063px #FFF , 549px 793px #FFF , 1956px 383px #FFF , 297px 801px #FFF , 1486px 1578px #FFF , 775px 703px #FFF , 970px 518px #FFF , 630px 1633px #FFF , 44px 987px #FFF , 950px 1133px #FFF , 1718px 1253px #FFF , 862px 1408px #FFF , 1889px 1470px #FFF , 1425px 1510px #FFF , 928px 977px #FFF , 1792px 1579px #FFF , 1892px 845px #FFF , 1644px 627px #FFF , 1728px 482px #FFF , 387px 646px #FFF , 607px 55px #FFF , 1070px 214px #FFF , 1012px 159px #FFF , 1751px 1257px #FFF , 426px 473px #FFF , 1352px 1481px #FFF , 1621px 788px #FFF , 1686px 1544px #FFF , 482px 1972px #FFF , 56px 795px #FFF , 1716px 1154px #FFF , 1237px 1488px #FFF , 442px 1346px #FFF , 1173px 1288px #FFF , 1166px 1017px #FFF , 551px 604px #FFF , 600px 731px #FFF , 313px 271px #FFF , 1019px 1978px #FFF , 1574px 1233px #FFF , 1384px 1832px #FFF , 1895px 1388px #FFF , 1043px 774px #FFF , 1668px 1809px #FFF , 576px 1296px #FFF , 1088px 782px #FFF , 496px 60px #FFF , 1344px 1441px #FFF , 703px 402px #FFF , 1017px 1px #FFF , 1924px 1281px #FFF , 714px 1159px #FFF , 935px 1726px #FFF , 604px 1822px #FFF , 1115px 1497px #FFF , 1822px 499px #FFF , 1314px 1054px #FFF , 710px 1121px #FFF , 609px 1621px #FFF , 947px 1973px #FFF , 296px 6px #FFF , 1627px 921px #FFF , 140px 1861px #FFF , 1215px 337px #FFF , 364px 1319px #FFF , 1926px 1576px #FFF , 1471px 1685px #FFF , 93px 1885px #FFF , 559px 166px #FFF , 262px 103px #FFF , 1199px 482px #FFF , 614px 1832px #FFF , 482px 1619px #FFF , 391px 22px #FFF , 348px 1277px #FFF , 1240px 1019px #FFF , 930px 980px #FFF , 1679px 1939px #FFF , 211px 1527px #FFF , 1206px 1423px #FFF , 1471px 1726px #FFF , 1097px 1892px #FFF , 760px 54px #FFF , 6px 1564px #FFF , 429px 481px #FFF , 1575px 191px #FFF , 1754px 332px #FFF , 918px 5px #FFF , 1979px 450px #FFF , 1279px 1877px #FFF , 612px 484px #FFF , 58px 14px #FFF , 1584px 1454px #FFF , 1281px 1976px #FFF , 415px 1656px #FFF , 1529px 843px #FFF , 1280px 1776px #FFF , 149px 1982px #FFF , 186px 1028px #FFF , 1563px 382px #FFF , 236px 1192px #FFF , 22px 525px #FFF , 1969px 1660px #FFF , 34px 698px #FFF , 1050px 1638px #FFF , 1580px 1027px #FFF , 210px 1479px #FFF , 943px 1833px #FFF , 932px 885px #FFF , 1857px 400px #FFF , 900px 644px #FFF , 1162px 1844px #FFF , 340px 512px #FFF , 1306px 1756px #FFF , 1922px 671px #FFF , 1149px 1634px #FFF , 1347px 848px #FFF , 1197px 9px #FFF , 94px 678px #FFF , 315px 1070px #FFF , 902px 1018px #FFF , 1265px 1070px #FFF , 1002px 820px #FFF , 825px 922px #FFF , 1441px 1748px #FFF , 1536px 910px #FFF , 1340px 827px #FFF , 797px 25px #FFF , 1641px 813px #FFF , 742px 431px #FFF , 994px 628px #FFF , 1671px 1155px #FFF , 119px 77px #FFF , 158px 1530px #FFF , 1632px 1794px #FFF , 1902px 1876px #FFF , 693px 1422px #FFF , 114px 1808px #FFF , 203px 1612px #FFF , 884px 579px #FFF , 1599px 623px #FFF , 116px 203px #FFF , 1001px 222px #FFF , 951px 827px #FFF , 1778px 1201px #FFF , 1948px 441px #FFF , 495px 1228px #FFF , 864px 1925px #FFF , 1235px 1214px #FFF , 369px 1999px #FFF , 1487px 1790px #FFF , 1426px 779px #FFF , 626px 21px #FFF , 723px 854px #FFF , 462px 1563px #FFF , 202px 1746px #FFF , 296px 1282px #FFF , 30px 256px #FFF , 532px 1900px #FFF , 1446px 69px #FFF , 1349px 214px #FFF , 1724px 1107px #FFF , 1524px 644px #FFF , 251px 551px #FFF , 1973px 1173px #FFF , 1967px 1202px #FFF , 347px 1735px #FFF , 512px 1410px #FFF , 1682px 1587px #FFF , 1902px 95px #FFF , 511px 1172px #FFF , 625px 1702px #FFF , 1484px 1401px #FFF , 253px 297px #FFF , 1946px 1302px #FFF , 1336px 443px #FFF , 183px 175px #FFF , 1531px 1470px #FFF , 1721px 317px #FFF , 1808px 1540px #FFF , 1827px 1551px #FFF , 795px 1298px #FFF , 1428px 1409px #FFF , 110px 278px #FFF , 236px 1250px #FFF , 1988px 1776px #FFF , 1777px 792px #FFF , 1707px 1790px #FFF , 295px 1082px #FFF , 1211px 1327px #FFF , 1740px 1509px #FFF , 1061px 1472px #FFF , 285px 26px #FFF , 1098px 630px #FFF , 1511px 841px #FFF , 1802px 733px #FFF , 1812px 432px #FFF , 36px 861px #FFF , 82px 43px #FFF , 1441px 199px #FFF , 28px 1242px #FFF , 1912px 309px #FFF , 1570px 1042px #FFF , 1514px 1295px #FFF , 371px 1533px #FFF , 922px 1653px #FFF , 1794px 1391px #FFF , 1502px 501px #FFF , 17px 74px #FFF , 489px 1925px #FFF , 72px 1952px #FFF , 736px 396px #FFF , 80px 712px #FFF , 824px 1338px #FFF , 473px 1767px #FFF , 129px 334px #FFF , 1708px 114px #FFF , 589px 273px #FFF , 885px 685px #FFF , 1730px 1036px #FFF , 655px 331px #FFF , 929px 1390px #FFF , 1707px 1524px #FFF , 653px 663px #FFF , 628px 334px #FFF , 1980px 614px #FFF , 1349px 1210px #FFF , 1494px 1287px #FFF , 1563px 1428px #FFF , 881px 1987px #FFF , 1711px 751px #FFF , 894px 614px #FFF , 807px 331px #FFF , 1616px 1167px #FFF , 1773px 450px #FFF , 1799px 642px #FFF , 963px 507px #FFF , 451px 833px #FFF , 1172px 160px #FFF , 1672px 1144px #FFF , 975px 1456px #FFF , 1078px 1394px #FFF , 1589px 1365px #FFF , 393px 1615px #FFF , 1186px 1767px #FFF , 393px 1558px #FFF , 1050px 1955px #FFF , 1445px 482px #FFF , 484px 33px #FFF , 408px 1415px #FFF , 1810px 141px #FFF , 1728px 1571px #FFF , 544px 134px #FFF , 1987px 987px #FFF , 1161px 1000px #FFF , 1506px 446px #FFF , 293px 336px #FFF , 1048px 1941px #FFF , 352px 1270px #FFF , 1445px 584px #FFF , 6px 1956px #FFF , 573px 859px #FFF , 444px 260px #FFF , 1482px 701px #FFF , 75px 1554px #FFF , 620px 973px #FFF , 1049px 379px #FFF , 1012px 584px #FFF , 1372px 1057px #FFF , 1000px 75px #FFF , 1882px 231px #FFF , 688px 641px #FFF , 594px 1934px #FFF , 1059px 1815px #FFF , 1424px 518px #FFF , 1664px 140px #FFF , 213px 191px #FFF , 317px 1751px #FFF , 875px 806px #FFF , 209px 618px #FFF , 730px 758px #FFF , 932px 1744px #FFF , 634px 1437px #FFF , 1126px 22px #FFF , 78px 1151px #FFF , 1775px 1553px #FFF , 1100px 148px #FFF , 694px 1644px #FFF , 1594px 946px #FFF , 1519px 344px #FFF , 1605px 1346px #FFF , 660px 757px #FFF , 1577px 1919px #FFF , 370px 1794px #FFF , 1573px 518px #FFF , 215px 1385px #FFF , 423px 1099px #FFF , 336px 232px #FFF , 1661px 349px #FFF , 629px 922px #FFF , 943px 1242px #FFF , 949px 553px #FFF , 653px 384px #FFF , 599px 753px #FFF , 274px 1513px #FFF , 1747px 1868px #FFF , 1492px 1145px #FFF , 826px 373px #FFF , 1388px 37px #FFF , 897px 1904px #FFF , 1685px 623px #FFF , 1811px 1131px #FFF , 44px 755px #FFF , 1913px 1873px #FFF , 22px 1323px #FFF , 712px 1891px #FFF , 896px 1079px #FFF , 935px 1220px #FFF , 1368px 989px #FFF , 408px 391px #FFF , 534px 1094px #FFF , 846px 245px #FFF , 913px 1822px #FFF , 598px 659px #FFF , 1682px 445px #FFF , 845px 1914px #FFF , 180px 1481px #FFF , 860px 1480px #FFF , 1201px 1547px #FFF , 690px 1658px #FFF , 1031px 1920px #FFF , 1318px 1200px #FFF , 1460px 455px #FFF , 721px 43px #FFF , 1124px 1955px #FFF , 1969px 166px #FFF , 1003px 770px #FFF , 826px 1439px #FFF , 977px 357px #FFF , 254px 1397px #FFF , 420px 1281px #FFF , 1493px 1229px #FFF , 637px 1762px #FFF , 438px 390px #FFF , 1129px 1635px #FFF , 340px 528px #FFF , 813px 511px #FFF , 744px 806px #FFF , 1933px 1745px #FFF , 947px 990px #FFF , 326px 1466px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1363px 1206px #FFF , 330px 1711px #FFF , 359px 1065px #FFF , 1170px 1378px #FFF , 337px 1192px #FFF , 1512px 1748px #FFF , 902px 542px #FFF , 997px 1242px #FFF , 281px 308px #FFF , 679px 1438px #FFF , 1799px 664px #FFF , 11px 457px #FFF , 1956px 1406px #FFF , 1311px 1486px #FFF , 1083px 1724px #FFF , 1540px 1595px #FFF , 1183px 1467px #FFF , 518px 1250px #FFF , 158px 1467px #FFF , 56px 251px #FFF , 418px 300px #FFF , 1694px 1246px #FFF , 1637px 1423px #FFF , 458px 324px #FFF , 1987px 821px #FFF , 1546px 1249px #FFF , 1141px 1447px #FFF , 1856px 190px #FFF , 1266px 1542px #FFF , 1466px 394px #FFF , 1775px 1085px #FFF , 107px 1207px #FFF , 1892px 1785px #FFF , 814px 637px #FFF , 1769px 1039px #FFF , 405px 698px #FFF , 1054px 569px #FFF , 923px 1842px #FFF , 387px 1338px #FFF , 1514px 100px #FFF , 663px 985px #FFF , 1940px 1918px #FFF , 470px 1268px #FFF , 1777px 837px #FFF , 413px 271px #FFF , 1497px 995px #FFF , 623px 1165px #FFF , 355px 1133px #FFF , 214px 1973px #FFF , 732px 431px #FFF , 1703px 1959px #FFF , 864px 128px #FFF , 1059px 1161px #FFF , 1439px 836px #FFF , 503px 1348px #FFF , 303px 902px #FFF , 1065px 216px #FFF , 1435px 1732px #FFF , 1878px 1098px #FFF , 1470px 1347px #FFF , 378px 82px #FFF , 1089px 1642px #FFF , 441px 1727px #FFF , 352px 1333px #FFF , 1180px 1699px #FFF , 1990px 178px #FFF , 1115px 1596px #FFF , 252px 860px #FFF , 1667px 517px #FFF , 851px 242px #FFF , 517px 1220px #FFF , 550px 746px #FFF , 1349px 1724px #FFF , 800px 1953px #FFF , 1109px 1176px #FFF , 1915px 1957px #FFF , 1228px 1186px #FFF , 459px 49px #FFF , 805px 1674px #FFF , 492px 754px #FFF , 723px 766px #FFF , 55px 460px #FFF , 1331px 1669px #FFF , 1107px 177px #FFF , 1822px 798px #FFF , 1235px 616px #FFF , 462px 138px #FFF , 125px 1723px #FFF , 1432px 1165px #FFF , 1429px 1247px #FFF , 1327px 1766px #FFF , 1310px 1702px #FFF , 526px 1524px #FFF , 255px 549px #FFF , 1367px 953px #FFF , 561px 1314px #FFF , 1141px 665px #FFF , 1672px 1088px #FFF , 1698px 1701px #FFF , 1812px 878px #FFF , 1158px 898px #FFF , 754px 1307px #FFF , 169px 109px #FFF , 454px 721px #FFF , 504px 1883px #FFF , 483px 1664px #FFF , 966px 1154px #FFF , 1908px 109px #FFF , 1017px 1062px #FFF , 350px 1088px #FFF , 1381px 352px #FFF , 233px 334px #FFF , 906px 673px #FFF , 1877px 1191px #FFF , 1592px 205px #FFF , 896px 367px #FFF , 1523px 336px #FFF , 120px 660px #FFF , 1291px 1768px #FFF , 50px 1194px #FFF , 1981px 282px #FFF , 1261px 489px #FFF , 455px 1348px #FFF , 1695px 1073px #FFF , 1919px 1626px #FFF , 722px 1017px #FFF , 213px 477px #FFF , 177px 1203px #FFF , 1777px 780px #FFF , 295px 67px #FFF , 1057px 926px #FFF , 1560px 436px #FFF , 560px 790px #FFF , 1220px 1664px #FFF , 580px 1196px #FFF , 313px 579px #FFF , 912px 1206px #FFF , 1162px 1310px #FFF , 1319px 1365px #FFF , 260px 1341px #FFF , 910px 1601px #FFF , 724px 259px #FFF , 177px 835px #FFF , 168px 1970px #FFF , 1428px 670px #FFF , 356px 1020px #FFF , 1086px 267px #FFF , 1924px 371px #FFF , 1428px 1580px #FFF , 1710px 1861px #FFF , 1912px 645px #FFF , 806px 514px #FFF , 1678px 1916px #FFF , 1647px 442px #FFF , 1494px 1691px #FFF , 576px 1789px #FFF , 1852px 1460px #FFF , 1034px 1045px #FFF , 188px 267px #FFF , 1212px 1339px #FFF , 1991px 1103px #FFF , 1936px 282px #FFF , 1299px 547px #FFF , 631px 1503px #FFF , 138px 27px #FFF , 1131px 1263px #FFF , 42px 384px #FFF , 623px 268px #FFF , 912px 1124px #FFF , 1250px 1332px #FFF , 821px 1795px #FFF , 707px 841px #FFF , 1065px 141px #FFF , 1615px 811px #FFF , 1120px 349px #FFF , 199px 2px #FFF , 723px 509px #FFF , 1329px 971px #FFF , 1088px 1942px #FFF , 434px 1694px #FFF , 678px 979px #FFF , 755px 717px #FFF , 954px 722px #FFF , 19px 1932px #FFF , 965px 1523px #FFF , 947px 990px #FFF , 890px 606px #FFF , 1301px 1503px #FFF , 1855px 1862px #FFF , 1351px 1684px #FFF , 1636px 256px #FFF , 1788px 1118px #FFF , 1049px 1253px #FFF , 1517px 1915px #FFF , 885px 1589px #FFF , 1228px 371px #FFF , 1324px 704px #FFF , 368px 1991px #FFF , 1013px 609px #FFF , 1119px 89px #FFF , 1296px 642px #FFF , 1101px 481px #FFF , 679px 1799px #FFF , 858px 533px #FFF , 1984px 1110px #FFF , 852px 1583px #FFF , 109px 1090px #FFF , 454px 1851px #FFF , 976px 892px #FFF , 325px 962px #FFF , 1823px 1600px #FFF , 838px 66px #FFF , 1699px 536px #FFF , 259px 943px #FFF , 600px 1460px #FFF , 1451px 1836px #FFF , 1146px 590px #FFF , 1905px 2000px #FFF , 1089px 880px #FFF , 797px 232px #FFF , 504px 905px #FFF , 1220px 1148px #FFF , 186px 1073px #FFF , 1191px 1002px #FFF , 1375px 648px #FFF , 856px 309px #FFF , 1811px 1661px #FFF , 1578px 1735px #FFF , 1198px 1465px #FFF , 1513px 1075px #FFF , 192px 998px #FFF , 1118px 1845px #FFF , 568px 264px #FFF , 148px 43px #FFF , 813px 959px #FFF , 1206px 1794px #FFF , 1390px 1466px #FFF , 418px 1670px #FFF , 1175px 1515px #FFF , 1080px 827px #FFF , 981px 1946px #FFF , 96px 989px #FFF , 842px 782px #FFF , 944px 1290px #FFF , 1131px 1213px #FFF , 1172px 1553px #FFF , 1431px 1014px #FFF , 1812px 1234px #FFF , 1009px 342px #FFF , 1210px 1894px #FFF , 1857px 838px #FFF , 1369px 902px #FFF , 1695px 288px #FFF , 1364px 776px #FFF , 1465px 1502px #FFF , 493px 1251px #FFF , 974px 1527px #FFF , 962px 1223px #FFF , 447px 1505px #FFF , 1709px 1543px #FFF , 285px 56px #FFF , 1642px 915px #FFF , 1140px 688px #FFF , 1422px 741px #FFF , 1089px 161px #FFF , 114px 1318px #FFF , 416px 1399px #FFF , 1725px 1659px #FFF , 952px 55px #FFF , 1180px 120px #FFF , 1066px 118px #FFF , 1815px 1856px #FFF , 315px 302px #FFF , 1415px 990px #FFF , 1385px 743px #FFF , 1060px 827px #FFF , 1787px 349px #FFF , 1446px 710px #FFF , 1404px 67px #FFF , 282px 1059px #FFF , 571px 1585px #FFF , 1150px 1222px #FFF , 222px 625px #FFF , 308px 56px #FFF , 104px 529px #FFF , 1791px 455px #FFF , 1052px 1862px #FFF , 1303px 1449px #FFF , 189px 1568px #FFF , 450px 546px #FFF , 1792px 1720px #FFF , 1827px 1008px #FFF , 245px 1697px #FFF , 536px 994px #FFF , 1308px 475px #FFF , 369px 251px #FFF , 1703px 425px #FFF , 1979px 105px #FFF , 1638px 1690px #FFF , 605px 1624px #FFF , 473px 1535px #FFF , 1032px 1214px #FFF , 697px 493px #FFF , 460px 1093px #FFF , 772px 1955px #FFF , 507px 12px #FFF , 1315px 345px #FFF , 560px 750px #FFF , 1507px 1642px #FFF , 1493px 430px #FFF , 1024px 856px #FFF , 964px 72px #FFF , 435px 861px #FFF , 1009px 1247px #FFF , 1944px 1095px #FFF , 1596px 936px #FFF , 660px 1518px #FFF , 1289px 157px #FFF , 425px 35px #FFF , 844px 1846px #FFF , 1903px 1646px #FFF , 1651px 1871px #FFF , 527px 1998px #FFF , 876px 562px #FFF , 1122px 1500px #FFF , 1749px 1942px #FFF , 1872px 1716px #FFF , 972px 1221px #FFF , 1143px 1315px #FFF , 1265px 1086px #FFF , 733px 242px #FFF , 1667px 277px #FFF , 1152px 409px #FFF , 1859px 21px #FFF , 1470px 850px #FFF , 993px 838px #FFF , 848px 1413px #FFF , 1031px 1478px #FFF , 471px 763px #FFF , 940px 1046px #FFF , 245px 707px #FFF , 1107px 1971px #FFF , 1520px 1101px #FFF , 453px 687px #FFF , 1471px 7px #FFF , 530px 481px #FFF , 793px 1425px #FFF , 958px 1080px #FFF , 1538px 13px #FFF , 312px 1063px #FFF , 549px 793px #FFF , 1956px 383px #FFF , 297px 801px #FFF , 1486px 1578px #FFF , 775px 703px #FFF , 970px 518px #FFF , 630px 1633px #FFF , 44px 987px #FFF , 950px 1133px #FFF , 1718px 1253px #FFF , 862px 1408px #FFF , 1889px 1470px #FFF , 1425px 1510px #FFF , 928px 977px #FFF , 1792px 1579px #FFF , 1892px 845px #FFF , 1644px 627px #FFF , 1728px 482px #FFF , 387px 646px #FFF , 607px 55px #FFF , 1070px 214px #FFF , 1012px 159px #FFF , 1751px 1257px #FFF , 426px 473px #FFF , 1352px 1481px #FFF , 1621px 788px #FFF , 1686px 1544px #FFF , 482px 1972px #FFF , 56px 795px #FFF , 1716px 1154px #FFF , 1237px 1488px #FFF , 442px 1346px #FFF , 1173px 1288px #FFF , 1166px 1017px #FFF , 551px 604px #FFF , 600px 731px #FFF , 313px 271px #FFF , 1019px 1978px #FFF , 1574px 1233px #FFF , 1384px 1832px #FFF , 1895px 1388px #FFF , 1043px 774px #FFF , 1668px 1809px #FFF , 576px 1296px #FFF , 1088px 782px #FFF , 496px 60px #FFF , 1344px 1441px #FFF , 703px 402px #FFF , 1017px 1px #FFF , 1924px 1281px #FFF , 714px 1159px #FFF , 935px 1726px #FFF , 604px 1822px #FFF , 1115px 1497px #FFF , 1822px 499px #FFF , 1314px 1054px #FFF , 710px 1121px #FFF , 609px 1621px #FFF , 947px 1973px #FFF , 296px 6px #FFF , 1627px 921px #FFF , 140px 1861px #FFF , 1215px 337px #FFF , 364px 1319px #FFF , 1926px 1576px #FFF , 1471px 1685px #FFF , 93px 1885px #FFF , 559px 166px #FFF , 262px 103px #FFF , 1199px 482px #FFF , 614px 1832px #FFF , 482px 1619px #FFF , 391px 22px #FFF , 348px 1277px #FFF , 1240px 1019px #FFF , 930px 980px #FFF , 1679px 1939px #FFF , 211px 1527px #FFF , 1206px 1423px #FFF , 1471px 1726px #FFF , 1097px 1892px #FFF , 760px 54px #FFF , 6px 1564px #FFF , 429px 481px #FFF , 1575px 191px #FFF , 1754px 332px #FFF , 918px 5px #FFF , 1979px 450px #FFF , 1279px 1877px #FFF , 612px 484px #FFF , 58px 14px #FFF , 1584px 1454px #FFF , 1281px 1976px #FFF , 415px 1656px #FFF , 1529px 843px #FFF , 1280px 1776px #FFF , 149px 1982px #FFF , 186px 1028px #FFF , 1563px 382px #FFF , 236px 1192px #FFF , 22px 525px #FFF , 1969px 1660px #FFF , 34px 698px #FFF , 1050px 1638px #FFF , 1580px 1027px #FFF , 210px 1479px #FFF , 943px 1833px #FFF , 932px 885px #FFF , 1857px 400px #FFF , 900px 644px #FFF , 1162px 1844px #FFF , 340px 512px #FFF , 1306px 1756px #FFF , 1922px 671px #FFF , 1149px 1634px #FFF , 1347px 848px #FFF , 1197px 9px #FFF , 94px 678px #FFF , 315px 1070px #FFF , 902px 1018px #FFF , 1265px 1070px #FFF , 1002px 820px #FFF , 825px 922px #FFF , 1441px 1748px #FFF , 1536px 910px #FFF , 1340px 827px #FFF , 797px 25px #FFF , 1641px 813px #FFF , 742px 431px #FFF , 994px 628px #FFF , 1671px 1155px #FFF , 119px 77px #FFF , 158px 1530px #FFF , 1632px 1794px #FFF , 1902px 1876px #FFF , 693px 1422px #FFF , 114px 1808px #FFF , 203px 1612px #FFF , 884px 579px #FFF , 1599px 623px #FFF , 116px 203px #FFF , 1001px 222px #FFF , 951px 827px #FFF , 1778px 1201px #FFF , 1948px 441px #FFF , 495px 1228px #FFF , 864px 1925px #FFF , 1235px 1214px #FFF , 369px 1999px #FFF , 1487px 1790px #FFF , 1426px 779px #FFF , 626px 21px #FFF , 723px 854px #FFF , 462px 1563px #FFF , 202px 1746px #FFF , 296px 1282px #FFF , 30px 256px #FFF , 532px 1900px #FFF , 1446px 69px #FFF , 1349px 214px #FFF , 1724px 1107px #FFF , 1524px 644px #FFF , 251px 551px #FFF , 1973px 1173px #FFF , 1967px 1202px #FFF , 347px 1735px #FFF , 512px 1410px #FFF , 1682px 1587px #FFF , 1902px 95px #FFF , 511px 1172px #FFF , 625px 1702px #FFF , 1484px 1401px #FFF , 253px 297px #FFF , 1946px 1302px #FFF , 1336px 443px #FFF , 183px 175px #FFF , 1531px 1470px #FFF , 1721px 317px #FFF , 1808px 1540px #FFF , 1827px 1551px #FFF , 795px 1298px #FFF , 1428px 1409px #FFF , 110px 278px #FFF , 236px 1250px #FFF , 1988px 1776px #FFF , 1777px 792px #FFF , 1707px 1790px #FFF , 295px 1082px #FFF , 1211px 1327px #FFF , 1740px 1509px #FFF , 1061px 1472px #FFF , 285px 26px #FFF , 1098px 630px #FFF , 1511px 841px #FFF , 1802px 733px #FFF , 1812px 432px #FFF , 36px 861px #FFF , 82px 43px #FFF , 1441px 199px #FFF , 28px 1242px #FFF , 1912px 309px #FFF , 1570px 1042px #FFF , 1514px 1295px #FFF , 371px 1533px #FFF , 922px 1653px #FFF , 1794px 1391px #FFF , 1502px 501px #FFF , 17px 74px #FFF , 489px 1925px #FFF , 72px 1952px #FFF , 736px 396px #FFF , 80px 712px #FFF , 824px 1338px #FFF , 473px 1767px #FFF , 129px 334px #FFF , 1708px 114px #FFF , 589px 273px #FFF , 885px 685px #FFF , 1730px 1036px #FFF , 655px 331px #FFF , 929px 1390px #FFF , 1707px 1524px #FFF , 653px 663px #FFF , 628px 334px #FFF , 1980px 614px #FFF , 1349px 1210px #FFF , 1494px 1287px #FFF , 1563px 1428px #FFF , 881px 1987px #FFF , 1711px 751px #FFF , 894px 614px #FFF , 807px 331px #FFF , 1616px 1167px #FFF , 1773px 450px #FFF , 1799px 642px #FFF , 963px 507px #FFF , 451px 833px #FFF , 1172px 160px #FFF , 1672px 1144px #FFF , 975px 1456px #FFF , 1078px 1394px #FFF , 1589px 1365px #FFF , 393px 1615px #FFF , 1186px 1767px #FFF , 393px 1558px #FFF , 1050px 1955px #FFF , 1445px 482px #FFF , 484px 33px #FFF , 408px 1415px #FFF , 1810px 141px #FFF , 1728px 1571px #FFF , 544px 134px #FFF , 1987px 987px #FFF , 1161px 1000px #FFF , 1506px 446px #FFF , 293px 336px #FFF , 1048px 1941px #FFF , 352px 1270px #FFF , 1445px 584px #FFF , 6px 1956px #FFF , 573px 859px #FFF , 444px 260px #FFF , 1482px 701px #FFF , 75px 1554px #FFF , 620px 973px #FFF , 1049px 379px #FFF , 1012px 584px #FFF , 1372px 1057px #FFF , 1000px 75px #FFF , 1882px 231px #FFF , 688px 641px #FFF , 594px 1934px #FFF , 1059px 1815px #FFF , 1424px 518px #FFF , 1664px 140px #FFF , 213px 191px #FFF , 317px 1751px #FFF , 875px 806px #FFF , 209px 618px #FFF , 730px 758px #FFF , 932px 1744px #FFF , 634px 1437px #FFF , 1126px 22px #FFF , 78px 1151px #FFF , 1775px 1553px #FFF , 1100px 148px #FFF , 694px 1644px #FFF , 1594px 946px #FFF , 1519px 344px #FFF , 1605px 1346px #FFF , 660px 757px #FFF , 1577px 1919px #FFF , 370px 1794px #FFF , 1573px 518px #FFF , 215px 1385px #FFF , 423px 1099px #FFF , 336px 232px #FFF , 1661px 349px #FFF , 629px 922px #FFF , 943px 1242px #FFF , 949px 553px #FFF , 653px 384px #FFF , 599px 753px #FFF , 274px 1513px #FFF , 1747px 1868px #FFF , 1492px 1145px #FFF , 826px 373px #FFF , 1388px 37px #FFF , 897px 1904px #FFF , 1685px 623px #FFF , 1811px 1131px #FFF , 44px 755px #FFF , 1913px 1873px #FFF , 22px 1323px #FFF , 712px 1891px #FFF , 896px 1079px #FFF , 935px 1220px #FFF , 1368px 989px #FFF , 408px 391px #FFF , 534px 1094px #FFF , 846px 245px #FFF , 913px 1822px #FFF , 598px 659px #FFF , 1682px 445px #FFF , 845px 1914px #FFF , 180px 1481px #FFF , 860px 1480px #FFF , 1201px 1547px #FFF , 690px 1658px #FFF , 1031px 1920px #FFF , 1318px 1200px #FFF , 1460px 455px #FFF , 721px 43px #FFF , 1124px 1955px #FFF , 1969px 166px #FFF , 1003px 770px #FFF , 826px 1439px #FFF , 977px 357px #FFF , 254px 1397px #FFF , 420px 1281px #FFF , 1493px 1229px #FFF , 637px 1762px #FFF , 438px 390px #FFF , 1129px 1635px #FFF , 340px 528px #FFF , 813px 511px #FFF , 744px 806px #FFF , 1933px 1745px #FFF , 947px 990px #FFF , 326px 1466px #FFF;
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1034px 117px #FFF , 1704px 580px #FFF , 1146px 838px #FFF , 1089px 1715px #FFF , 39px 69px #FFF , 1272px 860px #FFF , 1438px 1351px #FFF , 1074px 807px #FFF , 689px 645px #FFF , 781px 1391px #FFF , 1189px 1996px #FFF , 808px 1509px #FFF , 268px 1409px #FFF , 1403px 1248px #FFF , 407px 1548px #FFF , 78px 213px #FFF , 1183px 300px #FFF , 244px 1933px #FFF , 1236px 1961px #FFF , 188px 1443px #FFF , 34px 1460px #FFF , 930px 1349px #FFF , 1939px 729px #FFF , 1059px 1392px #FFF , 899px 1553px #FFF , 1779px 965px #FFF , 1502px 1822px #FFF , 1711px 1403px #FFF , 29px 363px #FFF , 1529px 832px #FFF , 1449px 1436px #FFF , 555px 714px #FFF , 1866px 1046px #FFF , 1937px 976px #FFF , 1949px 355px #FFF , 1853px 1140px #FFF , 1464px 386px #FFF , 250px 1848px #FFF , 1075px 1349px #FFF , 1933px 218px #FFF , 1063px 1406px #FFF , 1740px 1555px #FFF , 1072px 190px #FFF , 1157px 1585px #FFF , 1574px 263px #FFF , 204px 295px #FFF , 608px 31px #FFF , 1510px 1898px #FFF , 47px 1836px #FFF , 1769px 1545px #FFF , 706px 759px #FFF , 1535px 1677px #FFF , 1044px 1093px #FFF , 1796px 566px #FFF , 83px 172px #FFF , 1752px 1203px #FFF , 58px 1545px #FFF , 885px 1632px #FFF , 98px 1082px #FFF , 1939px 1980px #FFF , 353px 1682px #FFF , 646px 1399px #FFF , 1318px 169px #FFF , 1001px 1358px #FFF , 663px 1706px #FFF , 845px 35px #FFF , 781px 286px #FFF , 1295px 777px #FFF , 1109px 1323px #FFF , 718px 1155px #FFF , 1972px 105px #FFF , 55px 936px #FFF , 1038px 1746px #FFF , 853px 1337px #FFF , 1982px 140px #FFF , 1958px 315px #FFF , 1300px 1447px #FFF , 1086px 1502px #FFF , 129px 975px #FFF , 490px 1177px #FFF , 333px 271px #FFF , 1500px 755px #FFF , 1691px 1848px #FFF , 1173px 279px #FFF , 1235px 1832px #FFF , 223px 655px #FFF , 1230px 1220px #FFF , 1103px 264px #FFF , 1491px 434px #FFF , 566px 477px #FFF , 458px 1390px #FFF , 787px 1650px #FFF , 807px 47px #FFF , 1635px 1975px #FFF , 1572px 1435px #FFF , 1256px 934px #FFF , 473px 1730px #FFF , 809px 1782px #FFF , 709px 65px #FFF , 1303px 1096px #FFF , 1045px 708px #FFF , 1460px 384px #FFF , 791px 1174px #FFF , 1824px 600px #FFF , 49px 96px #FFF , 1585px 675px #FFF , 495px 184px #FFF , 1162px 813px #FFF , 29px 1997px #FFF , 317px 80px #FFF , 259px 1501px #FFF , 677px 1957px #FFF , 1961px 1031px #FFF , 964px 1164px #FFF , 999px 1976px #FFF , 1469px 1117px #FFF , 1610px 104px #FFF , 20px 1485px #FFF , 1530px 1519px #FFF , 1661px 629px #FFF , 486px 1526px #FFF , 879px 347px #FFF , 1516px 1316px #FFF , 484px 1958px #FFF , 459px 1076px #FFF , 1341px 544px #FFF , 37px 121px #FFF , 608px 814px #FFF , 1790px 852px #FFF , 1627px 1814px #FFF , 20px 989px #FFF , 187px 1337px #FFF , 1694px 237px #FFF , 1075px 403px #FFF , 114px 1197px #FFF , 893px 1491px #FFF , 1492px 1023px #FFF , 1936px 1549px #FFF , 1753px 1886px #FFF , 721px 279px #FFF , 1759px 31px #FFF , 1054px 1148px #FFF , 659px 64px #FFF , 588px 659px #FFF , 1614px 1761px #FFF , 1898px 323px #FFF , 1674px 1614px #FFF , 1325px 562px #FFF , 279px 1990px #FFF , 842px 1998px #FFF , 545px 1534px #FFF , 1690px 32px #FFF , 1979px 1974px #FFF , 340px 1995px #FFF , 838px 1248px #FFF , 1864px 1089px #FFF , 1810px 1158px #FFF , 808px 1407px #FFF , 60px 920px #FFF , 110px 937px #FFF , 1487px 1107px #FFF , 305px 615px #FFF , 1858px 1243px #FFF , 1795px 221px #FFF , 208px 328px #FFF , 257px 1206px #FFF , 1517px 24px #FFF , 325px 733px #FFF , 189px 1389px #FFF , 779px 1447px #FFF , 293px 1803px #FFF , 1128px 1884px #FFF , 823px 1610px #FFF , 1402px 1484px #FFF , 1188px 1304px #FFF , 842px 1160px #FFF , 692px 1726px #FFF , 558px 1118px #FFF , 1131px 1745px #FFF , 960px 1594px #FFF , 278px 1198px #FFF , 869px 401px #FFF , 1300px 604px #FFF , 1349px 944px #FFF , 1213px 1808px #FFF , 1811px 46px #FFF , 1318px 1550px #FFF , 384px 663px #FFF , 1227px 253px #FFF , 1249px 1181px #FFF , 968px 1310px #FFF , 1034px 182px #FFF , 617px 883px #FFF , 673px 867px #FFF , 1241px 770px #FFF , 998px 1525px #FFF , 1138px 899px #FFF , 203px 1463px #FFF , 490px 313px #FFF , 580px 294px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1034px 117px #FFF , 1704px 580px #FFF , 1146px 838px #FFF , 1089px 1715px #FFF , 39px 69px #FFF , 1272px 860px #FFF , 1438px 1351px #FFF , 1074px 807px #FFF , 689px 645px #FFF , 781px 1391px #FFF , 1189px 1996px #FFF , 808px 1509px #FFF , 268px 1409px #FFF , 1403px 1248px #FFF , 407px 1548px #FFF , 78px 213px #FFF , 1183px 300px #FFF , 244px 1933px #FFF , 1236px 1961px #FFF , 188px 1443px #FFF , 34px 1460px #FFF , 930px 1349px #FFF , 1939px 729px #FFF , 1059px 1392px #FFF , 899px 1553px #FFF , 1779px 965px #FFF , 1502px 1822px #FFF , 1711px 1403px #FFF , 29px 363px #FFF , 1529px 832px #FFF , 1449px 1436px #FFF , 555px 714px #FFF , 1866px 1046px #FFF , 1937px 976px #FFF , 1949px 355px #FFF , 1853px 1140px #FFF , 1464px 386px #FFF , 250px 1848px #FFF , 1075px 1349px #FFF , 1933px 218px #FFF , 1063px 1406px #FFF , 1740px 1555px #FFF , 1072px 190px #FFF , 1157px 1585px #FFF , 1574px 263px #FFF , 204px 295px #FFF , 608px 31px #FFF , 1510px 1898px #FFF , 47px 1836px #FFF , 1769px 1545px #FFF , 706px 759px #FFF , 1535px 1677px #FFF , 1044px 1093px #FFF , 1796px 566px #FFF , 83px 172px #FFF , 1752px 1203px #FFF , 58px 1545px #FFF , 885px 1632px #FFF , 98px 1082px #FFF , 1939px 1980px #FFF , 353px 1682px #FFF , 646px 1399px #FFF , 1318px 169px #FFF , 1001px 1358px #FFF , 663px 1706px #FFF , 845px 35px #FFF , 781px 286px #FFF , 1295px 777px #FFF , 1109px 1323px #FFF , 718px 1155px #FFF , 1972px 105px #FFF , 55px 936px #FFF , 1038px 1746px #FFF , 853px 1337px #FFF , 1982px 140px #FFF , 1958px 315px #FFF , 1300px 1447px #FFF , 1086px 1502px #FFF , 129px 975px #FFF , 490px 1177px #FFF , 333px 271px #FFF , 1500px 755px #FFF , 1691px 1848px #FFF , 1173px 279px #FFF , 1235px 1832px #FFF , 223px 655px #FFF , 1230px 1220px #FFF , 1103px 264px #FFF , 1491px 434px #FFF , 566px 477px #FFF , 458px 1390px #FFF , 787px 1650px #FFF , 807px 47px #FFF , 1635px 1975px #FFF , 1572px 1435px #FFF , 1256px 934px #FFF , 473px 1730px #FFF , 809px 1782px #FFF , 709px 65px #FFF , 1303px 1096px #FFF , 1045px 708px #FFF , 1460px 384px #FFF , 791px 1174px #FFF , 1824px 600px #FFF , 49px 96px #FFF , 1585px 675px #FFF , 495px 184px #FFF , 1162px 813px #FFF , 29px 1997px #FFF , 317px 80px #FFF , 259px 1501px #FFF , 677px 1957px #FFF , 1961px 1031px #FFF , 964px 1164px #FFF , 999px 1976px #FFF , 1469px 1117px #FFF , 1610px 104px #FFF , 20px 1485px #FFF , 1530px 1519px #FFF , 1661px 629px #FFF , 486px 1526px #FFF , 879px 347px #FFF , 1516px 1316px #FFF , 484px 1958px #FFF , 459px 1076px #FFF , 1341px 544px #FFF , 37px 121px #FFF , 608px 814px #FFF , 1790px 852px #FFF , 1627px 1814px #FFF , 20px 989px #FFF , 187px 1337px #FFF , 1694px 237px #FFF , 1075px 403px #FFF , 114px 1197px #FFF , 893px 1491px #FFF , 1492px 1023px #FFF , 1936px 1549px #FFF , 1753px 1886px #FFF , 721px 279px #FFF , 1759px 31px #FFF , 1054px 1148px #FFF , 659px 64px #FFF , 588px 659px #FFF , 1614px 1761px #FFF , 1898px 323px #FFF , 1674px 1614px #FFF , 1325px 562px #FFF , 279px 1990px #FFF , 842px 1998px #FFF , 545px 1534px #FFF , 1690px 32px #FFF , 1979px 1974px #FFF , 340px 1995px #FFF , 838px 1248px #FFF , 1864px 1089px #FFF , 1810px 1158px #FFF , 808px 1407px #FFF , 60px 920px #FFF , 110px 937px #FFF , 1487px 1107px #FFF , 305px 615px #FFF , 1858px 1243px #FFF , 1795px 221px #FFF , 208px 328px #FFF , 257px 1206px #FFF , 1517px 24px #FFF , 325px 733px #FFF , 189px 1389px #FFF , 779px 1447px #FFF , 293px 1803px #FFF , 1128px 1884px #FFF , 823px 1610px #FFF , 1402px 1484px #FFF , 1188px 1304px #FFF , 842px 1160px #FFF , 692px 1726px #FFF , 558px 1118px #FFF , 1131px 1745px #FFF , 960px 1594px #FFF , 278px 1198px #FFF , 869px 401px #FFF , 1300px 604px #FFF , 1349px 944px #FFF , 1213px 1808px #FFF , 1811px 46px #FFF , 1318px 1550px #FFF , 384px 663px #FFF , 1227px 253px #FFF , 1249px 1181px #FFF , 968px 1310px #FFF , 1034px 182px #FFF , 617px 883px #FFF , 673px 867px #FFF , 1241px 770px #FFF , 998px 1525px #FFF , 1138px 899px #FFF , 203px 1463px #FFF , 490px 313px #FFF , 580px 294px #FFF;
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1919px 1739px #FFF , 236px 1188px #FFF , 1784px 1254px #FFF , 1031px 302px #FFF , 207px 1237px #FFF , 1832px 210px #FFF , 1780px 717px #FFF , 1694px 749px #FFF , 839px 834px #FFF , 721px 80px #FFF , 1573px 146px #FFF , 250px 1854px #FFF , 608px 965px #FFF , 1096px 1313px #FFF , 927px 876px #FFF , 1163px 1915px #FFF , 851px 1821px #FFF , 553px 478px #FFF , 288px 1249px #FFF , 1379px 189px #FFF , 641px 828px #FFF , 1356px 408px #FFF , 1856px 1109px #FFF , 763px 712px #FFF , 388px 2px #FFF , 1624px 1871px #FFF , 1651px 1112px #FFF , 231px 1008px #FFF , 1457px 1447px #FFF , 556px 1466px #FFF , 1765px 1024px #FFF , 99px 1537px #FFF , 42px 461px #FFF , 1627px 895px #FFF , 994px 1129px #FFF , 1793px 219px #FFF , 250px 1607px #FFF , 242px 1065px #FFF , 339px 416px #FFF , 1724px 1692px #FFF , 973px 585px #FFF , 1385px 480px #FFF , 1474px 1091px #FFF , 1498px 1773px #FFF , 1269px 402px #FFF , 1063px 310px #FFF , 1580px 358px #FFF , 41px 1230px #FFF , 710px 631px #FFF , 1895px 1497px #FFF , 1912px 926px #FFF , 494px 465px #FFF , 1121px 116px #FFF , 911px 1471px #FFF , 1624px 489px #FFF , 1828px 918px #FFF , 318px 1747px #FFF , 941px 1463px #FFF , 1260px 1410px #FFF , 1803px 916px #FFF , 841px 624px #FFF , 1095px 1816px #FFF , 192px 1331px #FFF , 1815px 1356px #FFF , 783px 810px #FFF , 125px 877px #FFF , 1703px 275px #FFF , 280px 1388px #FFF , 267px 1009px #FFF , 1866px 288px #FFF , 336px 424px #FFF , 854px 848px #FFF , 1294px 483px #FFF , 242px 1096px #FFF , 1847px 957px #FFF , 1545px 507px #FFF , 675px 1779px #FFF , 1018px 379px #FFF , 1779px 1203px #FFF , 167px 810px #FFF , 1500px 1872px #FFF , 1842px 1641px #FFF , 1567px 420px #FFF , 1442px 732px #FFF , 324px 1411px #FFF , 1184px 2000px #FFF , 534px 1880px #FFF , 1113px 1194px #FFF , 541px 1381px #FFF , 1208px 1783px #FFF , 33px 435px #FFF , 1468px 1967px #FFF , 1485px 1651px #FFF , 1316px 1301px #FFF , 1850px 84px #FFF , 1286px 1887px #FFF , 1422px 1857px #FFF , 1928px 1372px #FFF , 360px 598px #FFF , 1520px 381px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1919px 1739px #FFF , 236px 1188px #FFF , 1784px 1254px #FFF , 1031px 302px #FFF , 207px 1237px #FFF , 1832px 210px #FFF , 1780px 717px #FFF , 1694px 749px #FFF , 839px 834px #FFF , 721px 80px #FFF , 1573px 146px #FFF , 250px 1854px #FFF , 608px 965px #FFF , 1096px 1313px #FFF , 927px 876px #FFF , 1163px 1915px #FFF , 851px 1821px #FFF , 553px 478px #FFF , 288px 1249px #FFF , 1379px 189px #FFF , 641px 828px #FFF , 1356px 408px #FFF , 1856px 1109px #FFF , 763px 712px #FFF , 388px 2px #FFF , 1624px 1871px #FFF , 1651px 1112px #FFF , 231px 1008px #FFF , 1457px 1447px #FFF , 556px 1466px #FFF , 1765px 1024px #FFF , 99px 1537px #FFF , 42px 461px #FFF , 1627px 895px #FFF , 994px 1129px #FFF , 1793px 219px #FFF , 250px 1607px #FFF , 242px 1065px #FFF , 339px 416px #FFF , 1724px 1692px #FFF , 973px 585px #FFF , 1385px 480px #FFF , 1474px 1091px #FFF , 1498px 1773px #FFF , 1269px 402px #FFF , 1063px 310px #FFF , 1580px 358px #FFF , 41px 1230px #FFF , 710px 631px #FFF , 1895px 1497px #FFF , 1912px 926px #FFF , 494px 465px #FFF , 1121px 116px #FFF , 911px 1471px #FFF , 1624px 489px #FFF , 1828px 918px #FFF , 318px 1747px #FFF , 941px 1463px #FFF , 1260px 1410px #FFF , 1803px 916px #FFF , 841px 624px #FFF , 1095px 1816px #FFF , 192px 1331px #FFF , 1815px 1356px #FFF , 783px 810px #FFF , 125px 877px #FFF , 1703px 275px #FFF , 280px 1388px #FFF , 267px 1009px #FFF , 1866px 288px #FFF , 336px 424px #FFF , 854px 848px #FFF , 1294px 483px #FFF , 242px 1096px #FFF , 1847px 957px #FFF , 1545px 507px #FFF , 675px 1779px #FFF , 1018px 379px #FFF , 1779px 1203px #FFF , 167px 810px #FFF , 1500px 1872px #FFF , 1842px 1641px #FFF , 1567px 420px #FFF , 1442px 732px #FFF , 324px 1411px #FFF , 1184px 2000px #FFF , 534px 1880px #FFF , 1113px 1194px #FFF , 541px 1381px #FFF , 1208px 1783px #FFF , 33px 435px #FFF , 1468px 1967px #FFF , 1485px 1651px #FFF , 1316px 1301px #FFF , 1850px 84px #FFF , 1286px 1887px #FFF , 1422px 1857px #FFF , 1928px 1372px #FFF , 360px 598px #FFF , 1520px 381px #FFF;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/*Space History Content*/

.history p, .history h2, .history h3{
  color: white;
}
.history h2 {
  margin-top: 40px;
}
.history h3 {
  text-transform: none;
}
.history {
  width:100%;
  margin:0 auto;
  overflow:auto;
  padding:2%;
}
.right-content, .left-content {
  float:left;
  display:block;
  width:50%;
  padding:1% 2%;
}
.container p img {
  max-width: 220px;
}
.left-content {
  border-right:5px dotted #666;
  text-align:right;
}
.left-content h2, .left-content h3 {
  text-align: right;
}
.left-content p {
  padding-left: 10vw;
}
.right-content p {
  padding-right: 10vw;
}
.left-content p:nth-child(1) {
  margin: 75px 0 0;
}
.left-content p:nth-child(2) {
  margin:1vw 0 0;
}
.left-content h3:nth-child(3) {
  margin:150px 0 0;
}
.left-content p:nth-child(4) {
  margin:50px 0 0;
}
.left-content p:nth-child(5) {
  margin:1vw 0 0;
}
.left-content p:nth-child(6) {
  margin:80px 0 0;
  color: #FE4042;
}
.left-content p:nth-child(7) {
  margin:1vw 0 0;
}
.left-content h3:nth-child(8) {
  margin:120px 0 0;
}
.left-content p:nth-child(9) {
  margin:80px 0 0;
}
.left-content p:nth-child(9) img {
  width: 100px;
}
.left-content p:nth-child(11) {
  margin:50px 0 0;
  color: #f4f4c3;
}
.left-content h3:nth-child(13) {
  margin:70px 0 0;
}
.left-content p:nth-child(14) {
  margin:150px 0 0;
}
.left-content p:nth-child(14) {
  color: skyblue;
}
.left-content h3:nth-child(16) {
  margin:70px 0 0;
}
.left-content p:nth-child(17) {
  margin:50px 0 0;
}
.left-content h3:nth-child(19) {
  margin:80px 0 0;
}
.left-content p:nth-child(20) {
  margin:80px 0 0;
}
.left-content h3:nth-child(22) {
  margin:80px 0 0;
}
.left-content h3:nth-child(23) {
  margin:210px 0 0;
}
.history-icon {
  font-size: 8vw;
}
.right-content h2, .right-content h3 {
  text-align: left;
}
.right-content p:nth-child(1), .right-content p:nth-child(4), .right-content p:nth-child(8), .right-content p:nth-child(10)  {
  font-size: 2.5em;
  font-weight: bold;
}
.right-content p:nth-child(1) {
  margin: 2vw 0 0;
}
.right-content p:nth-child(2) {
  margin: 300px 0 0;
}
.right-content p:nth-child(3) {
  margin: 1vw 0 0;
}
.right-content h2:nth-child(4) {
  margin: 80px 0 0;
}
.right-content h3:nth-child(5) {
  margin: 150px 0 0;
}
.right-content p:nth-child(6) {
  margin: 190px 0 0;
}
.right-content h2:nth-child(8) {
  margin: 70px 0 0;
}
.right-content h3:nth-child(9) {
  margin: 170px 0 0;
}
.right-content h2:nth-child(10) {
  margin: 200px 0 0;
}
.right-content h3:nth-child(11) {
  margin: 130px 0 0;
}
.right-content p:nth-child(11) {
  margin: 50px 0 0;
}
.right-content h3:nth-child(13) {
  margin: 220px 0 0;
}
.right-content h2:nth-child(14) {
  margin: 50px 0 0;
}
.right-content h3:nth-child(15) {
  margin: 120px 0 0;
}
.right-content h2:nth-child(16) {
  margin: 80px 0 0;
}
.right-content h3:nth-child(17) {
  margin: 100px 0 0;
}
.right-content h3:nth-child(18) {
  margin: 70px 0 0;
}
.right-content h2:nth-child(19) {
  margin: 80px 0 0;
}
.container p {
  font-size: 1.5em;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7 ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}
#ruby {
  color: #fe4042;
  filter: drop-shadow(0px 0px 3px #ff6b6b);
}
#nyc {
  max-width: 100px;
}
#moscow {
  font-size: 120px;
}
#baku {
  max-width: 120px;
}

/*Skills*/

.skills {
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vw;
  background: #dddbdb;
}

.skills h2 {
  color: rgb(85, 85, 85);
}

.skills h3 {
  text-align: center;
}

.skills-pan>.panel, .skills-pan>.panel-default>.panel-heading {
  color: white;
  background: #424242;
  transition: background .5s;
  border-radius: 15px;
  border-color: #595959;
}

.skills-pan>.panel-default>.panel-heading:hover {
  color: black;
  background: white;
  text-shadow: 0 0 10px white;
}

/*Skill Icons*/

.skills-pan div {
  text-align: center;
}

.skills-pan .col-xs-4 {
  margin: 30px 0;
}

.skills-pan i {
  font-size: 50px;
}

@media (min-width: 768px) {
  .skills-pan i {
    font-size: 8vw;
    transition: .5s;
  }
}

.panel-body div {
  margin-bottom: 10px;
}

.skills-pan i:hover {
  text-shadow: 0 0 10px white;
  transition: .5s;
  color: black;
}

.skills-pan p {
  font-size: 16px;
  margin-top: 5px;
}

.single-skill:hover {
  text-shadow: 0 0 10px white;
  transition: .3s;
}

.dark-light {
  background: url("../img/hexyback.jpg") no-repeat center center fixed;
}


.dark-light img {
  min-width: 25vw;
}

.dark-light h2, .dark-light p {
  color: white;
  padding: 20px;
}

/*Contact*/

.contact {
  background-color: #828080;
  min-height: 85vh
}

.contact-col {
  margin-left: 5vw;
}

/*Contact Info*/

.contact h2 {
  color: white;
}

#info-list {
  margin-top: 15px;
}

#info-list p {
  font-size: 17px;
}

.contact-name {
  color: white;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact-link:hover {
  color: #F2C193;
  transition-duration: 0.5s;
}

#contact-link-coop:hover {
  color: black;
}

#map {
  height: 40vh;
  /*min-width: 200px;*/
  margin-top: 15px;
  margin-bottom: 4vw;
}

/*Contact Form*/
.contact-heading {
  margin-top: 0;
  text-align: center;
  color: white;
}

.contact form h2 {
  font-size: 1.9em;
  color: white;
  margin-top: 0px;
}

.contact form input, .contact form textarea {
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
  margin-top: 1em;
}

form {
  margin-bottom: 50px;
}
#input-submit {
  max-width: 10em;
}

.schedule {
  text-align: center;
}

.setmore {
  color: #F2C193;
  display: inline-block;
  font-size: 10vw;
  padding-bottom: 10px;
  transition: 0.3s;
}

.setmore:hover {
  color: black;
  text-shadow: 0 0 10px white;
  transition: 0.3s;
}

/*Footer*/

footer {
  min-height: 80px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  background-color: #424242;
  color: white;
}

footer .fa {
  font-size: 30px;
}

footer i {
  color: white;
  margin-left: 5%;
  transition: 0.3s;
}

footer i:hover {
  color: #F2C193;
  transition: 0.3s;
}

.foot {
  display: inline;
  margin-top: 10px;
}

.anchor {
  padding: 51px 0;
  width: 100%;
  background-size: cover;
  position: relative;
}

/*Desktop*/

@media (min-width: 768px) {
  .nav-bar-desktop {
    margin: 0 auto;
    width: 80%;
  }
}

/*Tablet*/

@media (max-width: 769px) {

  h1 {
    font-size: 1.7em;
  }

  h3 {
    font-size: 1.5em;
  }

  .center {
    width: 100%;
  }

  .landing-bottom {
    display: none;
  }

  /*Remove Parallax by Recalling Image, Not Fixed */

  .logo-landing {
    width: 100%;
  }

  .logo-landing img {
    margin-top: 15vh;
  }

  .logo-title {
    margin-top: 5vh;
  }

  .about {
    width: 100%;
  }

  .about-desktop p {
    font-size: 1.5em;
    margin: 2em;
  }

  .hex-port {
    text-align: center;
  }

  .skills {
    width: 100%;
    min-height: 90vh;
  }
  .work {
    width: 100%;
  }
  .work img {
    width: 100%;
  }
  .process {
  width: 100%;
  }
  .contact {
  width: 100%;
  }
  .anchor {
    min-height: 100vh;
  }

  .container-fluid>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }

  /*Reformat Landing Elements*/

  .landing-title .row {
    margin-right: 0;
    margin-left: 0;
  }
  .landing-title h1 {
    font-size: 20px;
    height: 20px;
  }
  .landing-title {
    margin-top: 0;
  }
  .landing-btns {
    margin-top: 25px;
  }
  .btm-but {
    margin-top: 1vh;
  }
  .btm-but a {
    padding-right: 26px;
    padding-left: 26px;
  }
  .btn-main {
    padding: 8px 20px;
  }

  /*Reformat Work*/

  #portfolio {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }

  /*Reformat Skills Icons*/

  /*.skills-pan i {
    font-size: 10vw;
  }*/

  /*Reformat Process Episodes*/

  .process-episodes div h3{
    font-size: 1.4em;
  }
  .process-episodes div p{
    font-size: 1.3em;
  }

  /*Reformat Work Samples*/

  .work .row {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .image-responsive {
    min-width: 30vw;
  }

  /*Reformat Contact Content*/
  .contact p {
  color: white;
  font-size: 1.3em;
  }
  .contact form {
    margin-left: 10%;
    margin-right: 10%;
  }
  .setmore {
    color: F2C193;
    font-size: 15vw;
  }
}

/*Mobile*/

@media (max-width: 415px) {

  footer {
    padding-right: 1%;
    padding-left: 1%;
    font-size: 12px;
  }

}

/*My Mobile*/

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

input, textarea {
  padding: 10px;
  border: none;
  color: black;
}

.btn-center {
  margin: auto;
}

textarea {
  resize: none;
}

/*404*/

.error-page {
  background-image: url("http://2.bp.blogspot.com/_lBWYz29Iw_g/TQHtE7c7j2I/AAAAAAAAFnI/8Xwj-9OqPsg/s1600/rc-star-wars-003.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

.error-page .container {
  min-height: 100vh;
}
.error-title {
  margin-top: 10vh;
}

/*Work Pages*/

.work-page {
  padding-top: 60px;
  background-color: white;
  color: #969696;
}

.top-side {
  padding-top: 70px;
}

.work-box {
  padding: 70px;
  padding-top: 0px;
}

.work-box p, li {
  font-size: 1em;
}

.work-page-feature {
  width: 100%;
}

.work-title {
  color: #969696;
  margin-top: 0;
}

.skills-used {
  margin: 40px 0;
}

.skills-used i {
  font-size: 4vw;
}

@media (max-width: 767px) {
  .skills-used i {
    font-size: 8vw;
  }
}

@media (min-width: 767px) {
  .bottom-row {
    display: flex;
  }
}

.work-button {
  text-align: center;
  margin-top: 40px;
}

.light-box {
  flex: 1;
  padding-top: 70px;
  background-color: #d3d3d3;
  min-height: 100%;
}

.light-box p, .light-box li {
  color: black;
}

.gray-box {
  padding-top: 70px;
  background-color: #2e2e2e;
  min-height: 100%;
}

.video-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}

.video-box iframe{
  position: absolute;
}

.about-title {
  padding-bottom: 20px;
}

.about-para {
  padding: 5px 0px;
}

#legal {
  font-size: 12px;
  margin-bottom: 20px;
}
