<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1">
  <meta name="google-site-verification"
        content="gFlSLeooDPw4eRPPjZuEYr3E8ZVONOjp0RmWJZ2CEbk" />
  <title>Aron Eidelman, Web Developer</title>
  <meta name="description"
        content="Aron Eidelman's portfolio site, showcasing the sites and apps
                he has created as a full-stack developer, as well as the
                languages and tools in which he is proficient.">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="hexaron.ico" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
        rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Custom styles -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet"
        href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid nav-bar-desktop">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="workName navbar-brand">
          <a class="navbar-brand" href="#land-sec">
            <!-- Nav Logo -->
            <img src="img/devaron.png"
                 class="nav-logo important-elements"
                 alt="A small version of Aron's hexagon logo">
          </a>
        </div> <!--end workName -->
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#work-sec">Work</a></li>
          <!-- <li class="hidden-xs"><a href="#practice-sec">Practice</a></li> -->
          <li><a href="#about-sec">About</a></li>
          <li class="hidden-xs"><a href="#history">History</a></li>
          <li><a href="#skills-sec">Skills</a></li>
          <li><a href="#contact-sec">Contact</a></li>
        </ul>
      </div> <!-- nav -->
    </div> <!-- end nav container-->
  </nav><!-- End Navigation-->

  <!-- Landing -->
  <div class="container-fluid logo-landing anchor" id="land-sec" >
    <div id="particles-js"></div>
    <div class="container-fluid" id="over-particles">
      <!-- Mobile Logo -->
      <div class="logo-title-center">
        <img src="img/devaron.png"
             alt="Aron's hexagon logo, which loosely resembles Boba Fett's icon
                 in Star Wars, but replaces the symbols with the initials A E."
             class="important-elements hidden-sm hidden-md hidden-lg hidden-xl">
      </div>
      <div class="center landing-title ">
        <!-- Titles and Desktop Logo -->
        <div class="row">
          <div class="hidden-xs col-sm-1"></div>
          <div class="col-xs-12 col-sm-4">
            <h1>Aron Eidelman</h1>
          </div>
          <div class="col-xs-1 col-sm-2 logo-title-center">
            <img src="img/devaron.png"
                 alt="Aron's hexagon logo, which loosely resembles Boba Fett's
                     icon in Star Wars, but replaces the symbols with the
                     initials A E."
                 class="important-elements hidden-xs">
          </div>
          <div class="col-xs-12 col-sm-4">
            <h1>Web Developer</h1>
          </div>
          <div class="hidden-xs col-sm-1"></div>
        </div>
      </div>
      <!-- Logo Row -->
      <div class="row landing-btns text-center center">
        <div class="col-sm-12 btm-but">
          <a class="btn-main" href="#contact-sec">Contact Me</a>
        </div>
      </div> <!-- End Logo Row -->
    </div> <!-- End Overlay -->
  </div><!-- End Landing -->

  <!-- Work -->
  <div class="container work anchor" id="work-sec">
    <h2 class="sample-title">Work</h2>
    <!-- Vue Skill Selector -->
    <div id="skills-used" class="hidden-xs">
      <div class="row" id="skill-list">
        <div v-for="skill in skills">
          <div class="col-sm-2">
            <i v-bind:class="skill.class"></i>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio">
      <!-- Vue Row  -->
      <div class="row" id="work-samples">
        <div v-for="sample in samples">
          <div class="col-sm-4">
            <a v-bind:href="sample.link">
              <img class="img-responsive portfolio-sample"
                   v-bind:class="sample.class"
                   v-bind:src="sample.image"
                   v-bind:alt="sample.alt">
            </a>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- End Work -->

  <!-- About -->
  <div class="container about anchor" id="about-sec">

    <!-- About panel -->
    <div class="about-desktop">
      <h2 class="about-title">About</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-2 col-sm-offset-1 hex-port">
          <img src="img/hexaron.png" alt="Small hexagonal portrait of Aron">
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-1 major-col">
          <p class="about-para">Aron Eidelman is a web developer with a passion
            for his beautiful wife, Spinoza's Ethics, Nutella, Star Wars, and
            colorblind-friendly design tools.
          </p>
          <p class="about-para">
            After working closely with developers and data scientists for years,
            he discovered that he would love to learn how to create his own
            elegant sites and apps.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="center">
          <!-- Small modal button -->
          <div class="modal-button">
            <button
              class="btn btn-main"
              data-toggle="modal"
              data-target=".bs-example-modal-lg">
                See Résumé
            </button>
          </div> <!-- End button -->
          <!-- Small modal -->
          <div class="modal fade bs-example-modal-lg"
               tabindex="-1"
               role="dialog"
               aria-labelledby="myModalLabel1"
               aria-hidden="true"
               data-backdrop="static"
               data-keyboard="false">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"
                        id="myModalLabel1">Aron's Résumé</h4>
                    <a class="close"
                       data-dismiss="modal"
                       aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <embed id="modalembed"
                           class="modal-embeds"
                           src="pdf/Aron_Eidelman_Dev_Resume_July_2017.pdf">
                </div>
              </div>
            </div>
          </div> <!-- End modal -->
        </div>
      </div>
    </div><!-- End About panel -->
  </div><!-- End About -->

  <!-- History in Space -->
  <div class="devaron-background hidden-xs" id="history">
    <div class="container history block-center">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <h2>History</h2>
      <div class="left-content">
        <p><img class="important-elements" src="img/oglethorpe.png" alt="Emblem of Oglethorpe University"></p>
        <h3>B.A. in Philosophy</h3>
        <h3>Edited award-winning humanities curriculum</h3>
        <p><img class="important-elements" id="sf" src="img/sanfrancisco.png" alt="Golden Gate Bridge"></p>
        <h3>Came home to San Francisco</h3>
        <p><i class="devicon-ruby-plain important-elements history-icon"></i></p>
        <h3>Created first program in Ruby</h3>
        <h3>Made blended-learning schools in HITEC City</h3>
        <p><span class="history-icon important-elements"></span></p>
        <h3>Moved to Montréal, Canada</h3>
        <p><i class="fa fa-terminal important-elements history-icon" aria-hidden="true"></i></p>
        <h3>Wrote documentation for Command Line tools</h3>
        <h3>Freelance editor for major publishing houses</h3>
        <p><i class="fa fa-code-fork important-elements history-icon" aria-hidden="true"></i></p>
        <h3>First Git commit</h3>
        <h3>Market analysis for new HR Tech startup</h3>
        <p><img class="less-important-elements" src="img/gameplan.png" alt="Logo for Gameplan Jobs"></p>
        <h3>Co-founded Gameplan Jobs</h3>
        <h3>Recruited initial developers for proof of concept and prototype</h3>
        <p><img class="important-elements" id="moscow" src="img/redstar.png" alt="Soviet Star"></p>
        <h3>Moved to Moscow, Russian Federation</h3>
        <h3>Closed deal with first clients in UK</h3>
        <h3>Developed website for wife's makeup service, Glam by Adelina</h3>
      </div>
      <div class="right-content">
          <h2>2011</h2>
          <p><img class="important-elements" src="img/gurgaon.png" alt="Gurgaon written in Hindi"></p>
          <h3>Moved to Gurgaon, India</h3>
          <h2>2012</h2>
          <h3>Developed business plan for data warehousing company</h3>
          <p><img class="important-elements" src="img/hyderabad.png" alt="Hyderabad written in Telegu"></p>
          <h3>Moved to Hyderabad, India</h3>
          <h2>2013</h2>
          <h3>Remote technical writer for DW/BI company</h3>
          <h2>2014</h2>
          <p><img class="important-elements" src="img/nyc.png" alt="logo of New York City"></p>
          <h3>Moved to New York City</h3>
          <h3>Met love of life</h3>
          <h2>2015</h2>
          <h3>Collaborated with data scientist and industrial psychologist to plan product</h3>
          <h2>2016</h2>
          <h3>Remotely managed developers in US, Ukraine, and India</h3>
          <p><img class="important-elements" id="baku" src="img/baku.png" alt="Emblem of Baku, Azerbaijan"></p>
          <h3>Married in Baku, Azerbaijan</h3>
        </div>
      <div class="stars2"></div>
    </div>
  </div> <!-- End History in Space -->

  <!-- Skills -->
  <div class="container skills anchor" id="skills-sec">
    <h2>Skills</h2>
    <div class="panel-group skills-pan center" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
            Fully Operational</a>
          </h3>
        </div>
        <div id="collapse0" class="panel-collapse collapse in">
          <div class="panel-body" id="skills-full">
            <!-- JavaScript loads the icons, see skills.js -->
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            Powering Up</a>
          </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body" id="skills-power">
            <!-- Heroku -->
            <div class="col-xs-4 col-sm-2" title="Heroku" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-heroku-plain colored"></i>
            </div>
            <!-- Redis -->
            <div class="col-xs-4 col-sm-2" title="Redis" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-redis-plain colored"></i>
            </div>
            <!-- CoffeeScript -->
            <div class="col-xs-4 col-sm-2" title="CoffeeScript" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-coffeescript-original colored"></i>
            </div>
            <!-- PostgreSQL -->
            <div class="col-xs-4 col-sm-2" title="PostgreSQL" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-postgresql-plain colored"></i>
            </div>
            <!-- AngularJS -->
            <div class="col-xs-4 col-sm-2" title="AngularJS" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-angularjs-plain colored"></i>
            </div>
            <!-- React -->
            <div class="col-xs-4 col-sm-2" title="React" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-react-original colored" ></i>
            </div>
            <!-- Vim -->
            <div class="col-xs-4 col-sm-2" title="Vim" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-vim-plain colored"></i>
            </div>
            <!-- MySQL -->
            <div class="col-xs-4 col-sm-2" title="MySQL" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-mysql-plain colored"></i>
            </div>
            <!-- Wordpress -->
            <div class="col-xs-4 col-sm-2" title="Wordpress" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-wordpress-plain"></i>
            </div>
            <!-- Drupal -->
            <div class="col-xs-4 col-sm-2" title="Drupal" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-drupal-plain colored"></i>
            </div>
            <!-- PHP -->
            <div class="col-xs-4 col-sm-2" title="PHP" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-php-plain colored" ></i>
            </div>
            <!-- AWS -->
            <div class="col-xs-4 col-sm-2" title="AWS" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-amazonwebservices-original colored"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            Future Targets</a>
          </h3>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <!-- Grunt -->
            <div class="col-xs-4 col-sm-2" title="Grunt" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-grunt-plain colored"></i>
            </div>
            <!-- Gulp -->
            <div class="col-xs-4 col-sm-2" title="Gulp" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-gulp-plain colored"></i>
            </div>
            <!-- Java -->
            <div class="col-xs-4 col-sm-2" title="Java" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-java-plain colored"></i>
            </div>
            <!-- Python -->
            <div class="col-xs-4 col-sm-2" title="Python" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-python-plain colored"></i>
            </div>
            <!-- C# -->
            <div class="col-xs-4 col-sm-2" title="C Sharp" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-csharp-plain colored"></i>
            </div>
            <!-- Android -->
            <div class="col-xs-4 col-sm-2" title="Android" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-android-plain colored"></i>
            </div>
            <!-- MongoDB -->
            <div class="col-xs-4 col-sm-2" title="Mongo DB" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-mongodb-plain colored"></i>
            </div>
            <!-- Node.js -->
            <div class="col-xs-4 col-sm-2" title="Node.js" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-nodejs-plain colored"></i>
            </div>
            <!-- Kraken.js -->
            <div class="col-xs-4 col-sm-2" title="Kraken.js" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-krakenjs-plain colored"></i>
            </div>
            <!-- Ubuntu -->
            <div class="col-xs-4 col-sm-2" title="Ubuntu" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-ubuntu-plain colored"></i>
            </div>
            <!-- Apache -->
            <div class="col-xs-4 col-sm-2" title="Apache" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-apache-plain colored"></i>
            </div>
            <!-- Less -->
            <div class="col-xs-4 col-sm-2" title="Less" data-toggle="tooltip" data-placement="bottom">
              <i class="devicon-less-plain-wordmark colored"></i>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div> <!-- End Skills -->

  <!-- Contact -->
  <div class="container contact anchor" id="contact-sec">
    <h2>Contact</h2>
    <!-- Form -->
    <form action="https://formspree.io/aron@eideldev.com"
          method="POST"
          name="contact"
          class="cf contact-col col-sm-5">
      <h3 class="contact-heading">Message Me</h3>
      <div class="half left cf form-group">
        <label class="sr-only" for="input-name">Name</label>
        <input type="text" id="input-name" name="Name" placeholder="Name">
        <label class="sr-only" for="input-phone">Phone Number</label>
        <input type="tel"
               id="input-phone"
               name="Phone"
               placeholder="Phone (Optional)">
        <label class="sr-only" for="input-email">Email Address</label>
        <input type="email"
               id="input-email"
               name="_replyto"
               placeholder="Email Address">
      </div>
      <div class="half right cf">
        <label class="sr-only" for="input-message"> Message</label>
        <textarea cols="40"
                  rows="5"
                  name="message"
                  id="input-message"
                  placeholder="Message">
        </textarea>
        <p id="char-count"></p>
        <p id="visible-comment"></p>
      </div>
      <div class="text-center">
        <input type="submit" value="Send" id="input-submit" class="btn-main">
      </div>
    </form><!-- End Form-->
    <!-- Info -->
    <div class="clearfix contact-col col-sm-5">
      <h3 class="contact-heading">Schedule an Interview</h3>
      <div id="info-list">
        <p class="contact-name">
          <a href="#about-sec">
            <span class="glyphicon glyphicon-user"></span>
            Aron Eidelman
          </a>
        </p>
        <p class="contact-name">
          <a href="tel:678-231-3881">
            <span class="glyphicon glyphicon-phone"></span>
            678-231-3881
          </a>
        </p>
        <p class="contact-name">
          <a href="mailto:aron@glambyadelina.com">
            <span class="glyphicon glyphicon-envelope"></span>
            aron@eideldev.com
          </a>
        </p>
        <p class="contact-name">
          <a href="skype:aron.gameplan">
            <i class="fa fa-skype"></i>
            aron.gameplan
          </a>
        </p>
      </div>
      <div class="hidden-xs" id="map"></div>
    </div> <!-- End Info -->
  </div><!-- End Contact -->

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-xs-8 foot">
        <div id="legal">© Aron Eidelman 2017</div>
      </div>
      <div class="col-xs-4 text-right">
        <!-- GitHub -->
        <a href="https://github.com/h3xar0n"
           target="_blank">
           <i class="fa fa-github"></i>
         </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/aroneidelman"
           target="_blank">
           <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </footer>

  <!-- End Footer -->

  <!-- JavaScript Files -->
  <!-- Vue -->
  <script src="https://unpkg.com/vue"></script>
  <!-- Used in scripts.js -->
  <script src="js/particles.min.js"></script>
  <script src=js/skills.js></script>
  <!-- Main JS file -->
  <script src=js/scripts.js></script>
  <!-- Must come after scripts.js -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-TmAbDhp5UPjP0dbmDniVoMxxI3twi8E&callback=initMap"
          async defer>
  </script>
</body>
</html>
