<div class="col-sm-4">
  <div class="row scorecard">
    <p class="period"> {{ info.period }}</p>
    <div class="visitor col-xs-4">
      <h2 class="visitor-score"> {{ info.visitor_score }} </h2>
      <h3>
        <span class="visitor-city">{{ info.visitor_team.city }} </span><br/>
        <span class="visitor-name">{{ info.visitor_team.name }}</span>
      </h3>
    </div>
    <div class="dash col-xs-3">
      <h2>-</h2>
    </div>
    <div class="home col-xs-4">
      <h2 class="home-score"> {{ info.home_score }} </h2>
      <h3>
        <span class="home-city"> {{ info.home_team.city }} </span><br/>
        <span class="home-name"> {{ info.home_name.city }} </span>
      </h3>
    </div>
  </div>
  <div class="row more">
    <div class="more-btn-container">
      <a class="more-btn" ng-click="showMore = !showMore">More</a>
      <ul class="more-menu" ng-show="showMore">
        <li>Stats</li>
        <li class="share" ng-click="showShare = !showShare">Share</li>
        <li class="share-menu" ng-show="showShare">
          <span>Facebook</span>
          <span>Google+</span>
          <span>Twitter</span>
        </li>
      </ul>
    </div>
    <div class="bell" ng-click="toggleClass = !toggleClass">
      <span class="notification glyphicon glyphicon-bell" ng-class="{'active': toggleClass}"></span>
    </div>
  </div>
</div>