html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
}

h2 {
  font-size: 60px;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}



/* Header */
.nav-pills li a {
  color: #d8192f;
}

.nav-pills li.active a,
.nav-pills li a:hover,
.section .btn:hover {
  background-color:rgba(216,25,47,1);
  box-shadow:0 2px 4px rgba(0,0,0,.5); 
  color:#fff;
}


/* Jumbotron */
.jumbotron {
  height: 500px;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg);
  background-size: cover;
}

.jumbotron h2 {
  color:white;
}   
  
/* Funtron */
#fun {
  margin-top:120px; 
}

#fun2 {
  margin-left:20px; 
}

#fun3 {
  margin-left:40px; 
}
/* Banner */
.banner, .supporting {
  text-align: center;
  padding-top: 40px;
}

.banner {
  background-color:#36343f;
  height:180px; 
  color: #fff;
}

/* Media Queries */
@media (max-width: 680px) {
  .header h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  .nav {
    float: none;
    margin: 0 auto;
  }
  .banner {
    height: 220px;
  }

  .nav-pills li:first-child a  {
    margin-left: 0;
  }
}

/* Footer */
.footer {
  margin-top: 50px;
  padding: 50px;
  background: #eeeeee;
}