/*Custom Fonts*/

@font-face{
  font-family: 'Agane-Extra-Bold-Sign';
  src: url('fonts/agane/Aganè 75 (Extra Bold) sign');
}
@font-face{
  font-family: 'Agane-45';
  src: url('fonts/agane/Aganè 45 (light).ttf');
}

/*Navigation and Site-Wide*/

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.navbar-inverse {
  background: rgba(240, 240, 240, 0.9);
}
.navbar-brand {
  padding: .2em .7em;
}
.workName {
  padding-bottom: 2em;
}
.nav-logo {
  display: inline-block;
}

.nav-logo>img {
  width: 40px;
  height: 40px;
  margin-top: -25px;
}

.nav-logo>i {
  font-size: 40px;
}
.navbar-inverse .navbar-nav>li>a {
  color: black;
}
.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #F2C193;
  transition: 0.3s;
}
.navbar-inverse .navbar-nav>.active>a {
  background-color: #2B3137;
  transition: 0.3s;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #2B3137;
}
/*Site Wide Font*/

body {
  background-color: #2b3137;
}
* {
  font-family: 'Agane-45', sans-serif;
}
.box-element{
  border-radius: 15px;
}
p, a {
  color: #969696;
  font-size: 16px;
}
h1 {
  color: #f0f0f0;
  padding-bottom: 20px;
}
h2 {
  color: white;
}
#subtitle {
  font-size: 20px;
}
h1, h2, .nav li {
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}
.title {
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

/*Landing*/

.logo-landing {
  min-height: 100vh;
  background: url(../img/simple-codelines.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.logo-title-center {
  margin: 1vw 0;
  text-align: center;
}
.logo-title-center>img {
  width: 10vw;
}

.hex-port img {
  width: 100%;
  max-width: 200px;
}
.center-port img {
  width: 50%;
  max-width: 200px;
}
.important-elements {
  -webkit-filter: drop-shadow(0px 0px 5px white);
  filter: drop-shadow(0px 0px 5px white);
}
.less-important-elements {
  -webkit-filter: drop-shadow(0px 0px 1px white);
  filter: drop-shadow(0px 0px 1px white);
}
.about-action>div>i {
  color: white;
}

/*Landing Logo and Buttons*/

.center {
  margin: 0 auto;
  width: 100%;
}
.landing-title {
  margin-top: 15vh;
}

/*Fix Heading from Jumping over Logo*/

.logo-landing img {
  max-width: 40vw;
}
.landing-btns {
  margin-top: 35vh;
}
.btn-main {
  background-color: #F2C193;
  color: black;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background .5s;
  border-radius: 10px;
}
.btn-main:hover{
  background-color: black;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background .1s;
  -webkit-filter: drop-shadow(0px 0px 2px white);
  filter: drop-shadow(0px 0px 2px white);
}
.btn-main:visited {
  text-decoration: none;
}

/*README*/

#readme {
  background-color: #FFFFFF;
}

#readme h1, #readme h2, #readme h3, #readme h4, #readme h5, #readme h6,
#readme p {
  color: black;
}

#editor h1, #editor h2 {
  text-align: left;
}

#editor {
  margin: 0;
  margin-top: 50px;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}
textarea, #editor div {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
  height: 80vh;
}

code {
  color: #f66;
}

.branch-visual {
  width: 100%;
  margin-top: 10vh;
}

/*Subatom*/

.hyper-atom {
  background-color: #FFFFFF;
}

.hyper-atom h2 {
  color: black;
}

.hyper-atom p {
  color: black;
}

.hyper-atom i {
  font-size: 5vw;
}

.subsample {
  width: 50%;
  margin: 3vw;
}

/*Dark*/
.dark {
  height: 50vh;
  background: url(../img/light.png) no-repeat center center fixed;
}

.lightsite {
  background-color: white;
  padding: 10vh 10vw;
  border-bottom: #f1f8ff solid 20px;
}

.lightsite p, .lightsite h2 {
  color: black;
}

.darksite {
  background-color: #2b3137;
  padding: 10vh 10vw;
  border-top: #3f4448 solid 20px;
}

.darksite p {
  color: lightgray;
}

.redone {
  color: #f96868;
}

.greenone {
  color: wheat;
}

.dark2 {
  height: 48vh;
  background: url(../img/dark.png) no-repeat center center fixed;
}

.half-page {
  height: 20vw;
}

.limits {
  margin-top: 5vw;
  font-size: 5vw;
}

.world {
  margin-top: 1vw;
  font-size: 5vw;
  text-align: right;
  padding-right: 5vw;
}
.lighter {
  background-color: #ffffff;
  height: auto;
}
/*Work*/

.work {
  background-color: #ffffff;
  min-height: 100vh;
}

.work h2 {
  color: #555;
}

#portfolio {
  text-align: center;
  max-width: 180vh;
  margin: 5vh auto 0 auto;
}

#portfolio .row .col-sm-3 {
  padding: 0;
}

.portfolio-sample {
  opacity: 0.7;
  transition: 0.5s;
}

.portfolio-sample:hover {
  opacity: 1;
  transition: 0.5s;
}

.shadow-sample {
  opacity: 0.1;
  transition: 0.5s;
}

.select-sample {
  opacity: 0.7;
  transition: 0.5s;
}

.atom-colored {
  color: #F2C193;
}

.slack-colored {
  color: #4B6BC6;
}

.github-colored {
  color: white;
}

#skill-list {
  margin: 2.5vh 0;
}

#skill-list i {
  transition: 0.5s;
}

#skill-list i:hover {
  text-shadow: black 5px 5px 10px;
  color: white;
  transition: 0.5s;
}

#skills-used {
  text-align: center;
  max-width: 150vh;
  margin: 0 auto;
}

#skills-used .col-sm-2 {
  text-align: center;
}

#skills-used i {
  text-align: center;
  font-size: 13vh;
}

.btm-btnz {
   text-align:center;
}

.btm-btnz .modal-button {
    display: inline;
    padding-top: 0;
}

.btm-btnz a, .btm-btnz button {
  background-color: black;
  color: white;
  border-color: black;
  transition: background .5s;
  margin-left: .2em;
  margin-right: .2em;
  font-size: 1em;
  margin-bottom: 5%;
  text-transform: uppercase;
  min-width: 2.6em;
  max-height: 2em;
}

.btm-btnz a:hover, .btm-btnz button:hover {
  background-color: white;
  color: black;
  border-color: white;
}

.btm-btnz button:focus {
  color: white;
}

.modal-header h4 {
  color: black;
  font-size: 2em;
}

.caption p {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

/*Mobile*/

.panel-group .panel {
  border-radius: 10px;
  margin: 0 10vw;
}

.panel-title {
  text-transform: none !important;
  text-align: left;
}

.panel-default>.about-pan {
  text-align: center;
  color: white;
  background-color: #222222;
  border-color: #222222;
  transition: background .5s;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
}

.panel-default>.about-pan:hover {
  color: white;
  background-color: black;
  text-decoration: none;
  text-shadow: 0 0 10px white;
}

.modal-button {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.about-pan .modal-button .btn-main {
  font-size: 1.2em;
  padding: 8px 20px;
}

.modal-button button:focus {
  outline:0;
}

.modal-button button:active {
  outline:0;
}

.modal-button button:visited {
  outline:0;
}

.modal-embeds {
  height: 80vh;
  width: 100%;
  padding: 10px;
}

.landing-bottom {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,050400+100&0+0,1+100 */
  height: 15vh;
  width: 100vw;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(5,4,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(5,4,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(5,4,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.about {
  background-color: #828080;
}

.about-desktop p {
  color: #f0f0f0;
  font-size: 1em;
}

.about-action {
  text-align: center;
}

.about-action .col-sm-4 {
  margin-top: 3vw;
}

.about-action i {
  font-size: 10vw;
}

/*Skills*/

.skills {
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vw;
  background: #ffffff;
}

.skills h2 {
  color: rgb(85, 85, 85);
}

.skills h3 {
  text-align: center;
}

.skills-pan>.panel, .skills-pan>.panel-default>.panel-heading {
  color: white;
  background: #2B3137;
  transition: background .5s;
  border-radius: 15px;
  border-color: #595959;
}

.skills-pan>.panel-default>.panel-heading:hover {
  color: black;
  background: white;
  text-shadow: 0 0 10px white;
}

/*Skill Icons*/

.skills-pan div {
  text-align: center;
}

.skills-pan .col-xs-4 {
  margin: 30px 0;
}

.skills-pan i {
  font-size: 50px;
}

@media (min-width: 768px) {
  .skills-pan i {
    font-size: 8vw;
    transition: .5s;
  }
}

.panel-body div {
  margin-bottom: 10px;
}

.skills-pan i:hover {
  text-shadow: 0 0 10px white;
  transition: .5s;
  color: black;
}

.skills-pan p {
  font-size: 16px;
  margin-top: 5px;
}

.single-skill:hover {
  text-shadow: 0 0 10px white;
  transition: .3s;
}

.dark-light {
  background: url("../img/hexyback.jpg") no-repeat center center fixed;
}

.dark-light img {
  min-width: 25vw;
}

.dark-light h2, .dark-light p {
  color: white;
  padding: 20px;
}

/*Contact*/

.contact {
  background-color: #828080;
  min-height: 85vh
}

.contact-col {
  margin-left: 5vw;
}

/*Contact Info*/

.pull-request {
  background-color: #FFFFFF;
}

.pull-shot {
  width: 80vw;
  max-width: 1000px;
  margin: 0 10vw 0 10vw ;
}

/*Footer*/

footer {
  min-height: 80px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  background-color: #2B3137;
  color: white;
}

footer .fa {
  font-size: 30px;
}

footer i {
  color: white;
  margin-left: 5%;
  transition: 0.3s;
}

footer i:hover {
  color: #F2C193;
  transition: 0.3s;
}

.foot {
  display: inline;
  margin-top: 10px;
}

.anchor {
  padding: 51px 0;
  width: 100%;
  background-size: cover;
  position: relative;
}

/*Desktop*/

@media (min-width: 768px) {
  .nav-bar-desktop {
    margin: 0 auto;
    width: 80%;
  }
}

/*Tablet*/

@media (max-width: 769px) {

  .center {
    width: 100%;
  }

  .landing-bottom {
    display: none;
  }

  /*Remove Parallax by Recalling Image, Not Fixed */

  .logo-landing {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .about-desktop p {
    font-size: 1.5em;
    margin: 2em;
  }

  .hex-port {
    text-align: center;
  }

  .skills {
    width: 100%;
    min-height: 90vh;
  }
  .work {
    width: 100%;
  }
  .work img {
    width: 100%;
  }
  .process {
  width: 100%;
  }
  .contact {
  width: 100%;
  }

  .container-fluid>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }

  /*Reformat Landing Elements*/

  .landing-title .row {
    margin-right: 0;
    margin-left: 0;
  }
  .landing-title h1 {
    font-size: 20px;
    height: 20px;
  }
  .landing-title {
    margin-top: 0;
  }
  .landing-btns {
    margin-top: 25px;
  }
  .btm-but {
    margin-top: 1vh;
  }
  .btm-but a {
    padding-right: 26px;
    padding-left: 26px;
  }
  .btn-main {
    padding: 8px 20px;
  }

  /*Reformat Work*/

  #portfolio {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }

  /*Reformat Skills Icons*/

  /*.skills-pan i {
    font-size: 10vw;
  }*/

  /*Reformat Process Episodes*/

  .process-episodes div h3{
    font-size: 1.4em;
  }
  .process-episodes div p{
    font-size: 1.3em;
  }

  /*Reformat Work Samples*/

  .work .row {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .image-responsive {
    min-width: 30vw;
  }

  /*Reformat Contact Content*/
  .contact p {
  color: white;
  font-size: 1.3em;
  }
  .contact form {
    margin-left: 10%;
    margin-right: 10%;
  }
  .setmore {
    color: F2C193;
    font-size: 15vw;
  }
}

/*Mobile*/

@media (max-width: 415px) {

  footer {
    padding-right: 1%;
    padding-left: 1%;
    font-size: 12px;
  }

}

/*My Mobile*/

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

input, textarea {
  padding: 10px;
  border: none;
  color: black;
}

.btn-center {
  margin: auto;
}

textarea {
  resize: none;
}

/*404*/

.error-page {
  background-image: url("http://2.bp.blogspot.com/_lBWYz29Iw_g/TQHtE7c7j2I/AAAAAAAAFnI/8Xwj-9OqPsg/s1600/rc-star-wars-003.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

.error-page .container {
  min-height: 100vh;
}
.error-title {
  margin-top: 10vh;
}

/*Work Pages*/

.work-page {
  padding-top: 60px;
  background-color: white;
  color: #969696;
}

.top-side {
  padding-top: 70px;
}

.work-box {
  padding: 70px;
  padding-top: 0px;
}

.work-box p, li {
  font-size: 1em;
}

.work-page-feature {
  width: 100%;
}

.work-title {
  color: #969696;
  margin-top: 0;
}

.skills-used {
  margin: 40px 0;
}

.skills-used i {
  font-size: 4vw;
}

@media (max-width: 767px) {
  .skills-used i {
    font-size: 8vw;
  }
}

@media (min-width: 767px) {
  .bottom-row {
    display: flex;
  }
}

.work-button {
  text-align: center;
  margin-top: 40px;
}

.light-box {
  flex: 1;
  padding-top: 70px;
  background-color: #d3d3d3;
  min-height: 100%;
}

.light-box p, .light-box li {
  color: black;
}

.gray-box {
  padding-top: 70px;
  background-color: #2e2e2e;
  min-height: 100%;
}

.video-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}

.video-box iframe{
  position: absolute;
}

.about-title {
  padding-bottom: 20px;
}

.about-para {
  padding: 5px 0px;
}

#legal {
  font-size: 12px;
  margin-bottom: 20px;
}
