<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1">
  <meta name="google-site-verification"
        content="gFlSLeooDPw4eRPPjZuEYr3E8ZVONOjp0RmWJZ2CEbk" />
  <title>Merge Aron with GitHub</title>
  <meta name="description"
        content="Aron Eidelman's portfolio site, showcasing the sites and apps
                he has created as a full-stack developer, as well as the
                languages and tools in which he is proficient.">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="hexaron.ico" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
        rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Custom styles -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet"
        href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid nav-bar-desktop">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="workName navbar-brand">
          <a class="navbar-brand" href="#land-sec">
            <!-- Nav Logo -->
            <div class="nav-logo">
                <img src="img/devaron.png"
                     class="important-elements"
                     alt="A small version of Aron's hexagon logo">
            </div>
            <div class="nav-logo">
                <img src="img/gitmerge.png"
                     class="important-elements"
                     alt="the git merge symbol">
            </div>
            <div class="nav-logo">
                <i class="devicon-github-plain colored"></i>
            </div>
          </a>
        </div> <!--end workName -->
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#readme">README</a></li>
          <li><a href="#subatomic">Subatomic</a></li>
          <li><a href="#light">Light</a></li>
          <li><a href="#dark">Dark</a></li>
          <li><a href="#work-sec">Work</a></li>
          <li><a href="#skills-sec">Skills</a></li>
          <li><a href="#pull-request">Pull</a></li>
        </ul>
      </div> <!-- nav -->
    </div> <!-- end nav container-->
  </nav><!-- End Navigation-->
  <!-- Landing -->
  <div class="container-fluid logo-landing anchor" id="land-sec" >
    <div class="container-fluid" id="over-particles">
        <!-- Titles and Desktop Logo -->
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <h1>Aron Eidelman</h1>
          </div>
          <div class="col-xs-12 logo-title-center">
            <img src="img/devaron.png"
                 alt="Aron's hexagon logo, which loosely resembles Boba Fett's
                     icon in Star Wars, but replaces the symbols with the
                     initials A E."
                 class="important-elements">
          </div>
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h2 id="subtitle">
              A Collection of Ideas from
              <br/>an Aspiring GitHub Product Designer
            </h2>
          </div>
          <div class="col-xs-10 col-xs-offset-1 about-action">
            <div class="col-sm-4">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <div class="modal-button">
                <a class="btn btn-main"
                   href="https://www.linkedin.com/in/aroneidelman/"
                   target="_blank">
                  View Profile
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
              <div class="center">
                <!-- Small modal button -->
                <div class="modal-button">
                  <button
                    class="btn btn-main"
                    data-toggle="modal"
                    data-target=".bs-example-modal-lg">
                      Read Résumé
                  </button>
                </div> <!-- End button -->
                <!-- Small modal for Resume-->
                <div class="modal fade bs-example-modal-lg"
                   tabindex="-1"
                   role="dialog"
                   aria-labelledby="myModalLabel1"
                   aria-hidden="true"
                   data-backdrop="static"
                   data-keyboard="false">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"
                            id="myModalLabel1">Aron's Résumé</h4>
                        <a class="close"
                           data-dismiss="modal"
                           aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <embed id="modalembed"
                               class="modal-embeds"
                               src="pdf/Aron_Eidelman_Dev_Resume_July_2017.pdf">
                    </div>
                  </div>
                </div>
              </div> <!-- End modal -->
              </div>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-github" aria-hidden="true"></i>
              <div class="modal-button">
                <a class="btn btn-main"
                   href="https://github.com/h3xar0n"
                   target="_blank">
                  Review Code
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Logo Row -->
    </div> <!-- End Overlay -->
  </div><!-- End Landing -->
  <!-- README demo -->
  <div class="container readme anchor" id="readme">
    <h2>README Markdown Editor</h2>
    <p class="col-sm-6 col-sm-offset-3 text-center">
       READMEs are essential for developers to share their work with others, but
       documentation is often overlooked if it is perceived as a hassel to
       create.
       <br/>
       <br/>
       To encourage more engagement in writing strong, useful READMEs,
       we can include prompts for ideas about what to include. We can also show
       the user what their README will actually look like before they commit.
    </p>
    <div id="editor" class="col-sm-12">
      <textarea class="col-sm-4 col-sm-offset-1" :value="input" @input="update"></textarea>
      <div class="col-sm-2 col-sm-offset-1" v-html="compiledMarkdown"></div>
      <div class="col-sm-1"></div>
    </div>
    <img src="https://guides.github.com/activities/hello-world/branching.png"
         class="branch-visual">
    <h3 class="text-center">Visualization</h3>
    <p class="col-sm-8 col-sm-offset-2 text-center">
      <br/>
      Many of the ways GitHub can improve its reach center around visualization,
      making tools more intuitive and concrete.
      <br/>
      <br/>
      The Desktop app was instrumental in helping me better
      understand how git commits and branches work, and the README editor follows that trend.
      <br/>
    </p>
  </div>
  <div class="container hyper-atom anchor" id="subatomic">
    <h2>Subatomic</h2>
    <div class="row text-center">
      <div class="center">
        <img src="img/subatomic.png" class="subsample center">
      </div>
      <div class="col-sm-12 text-center">
        <p>
          We can put Hyper inside of Atom so that we can manipulate files, fire up a server, and commit our changes--all in one place.
        <br/>
        <br/>
        </p>
        <div class="col-sm-12 text-center">
          <div class="col-xs-4">
            <i class="fa fa-bolt" aria-hidden="true"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-atom-original colored"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-git-plain colored"></i>
          </div>
        </div>
      </div>

    </div>
    <div class="row text-center">

    </div>
  </div>
  <!-- Dark demo -->
  <div class="container lightsite anchor" id="light">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>The Light Site<br/></h2>
      <p>
        With a great text-editor like Atom and many programmers preferring a
        dark-style environment to read code, it seems that GitHub would greatly
        benefit from offering an alternative to the standard white.
        <br/>
        <br/>
        White and blue may be good for meeting the maximum accessibility
        standards, but it doesn't have to be the only option.
      </p>
    </div>
  </div>
  <div class="container dark anchor">
  </div>
  <div class="container dark2 anchor" id="dark">
  </div>
  <div class="container darksite anchor">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>The Dark Site<br/></h2>
      <p>
        <br/>
        Some forms of colorblindness benefit more from dark backgrounds
        because <span class="redone">syntax highlighting</span> is more <span
        class="greenone">distinct</span>. It is also easier to
        read at night or after staring at white pages all day long.
        <br/>
        <br/>
        When Google Chrome's developer tools introduced a dark theme, people
        went wild. I created this by simply altering the CSS in dev tools,
        and it could easily be implemented with a switch at the top of the page
        or in settings. Using JavaScript, we could alter the classes of elements
        across the site to use dark backgrounds and pastel text.
        <br/>
        <br/>
        A tiny feature like this could bring a wave of new interest and engagement.
      </p>
    </div>
  </div>
  <!-- Wittgenstein -->
  <div class="container half-page">
    <p class="limits">"The limits of my language</p>
  </div>
  <div class="container anchor lighter">
    <p class="world">mean the limits of my world."</p>
    <p class="world">
      -Wittgenstein
    </p>
  </div>
  <!-- Work -->
  <div class="container work anchor" id="work-sec">
    <h2 class="sample-title">Work</h2>
    <p class="text-center col-sm-8 col-sm-offset-2">
      <br/>
      As an experienced product manager and developer, I can empathize with both
      sides of the equation and draw from a diverse set of competencies. These
      are a few of the projects I've worked on that combine both skillsets.
      <br/>
      <br/>
    </p>
    <!-- Vue Skill Selector -->
    <div id="skills-used" class="hidden-xs">
      <div class="row" id="skill-list">
        <div v-for="skill in skills">
          <div class="col-sm-2">
            <a href="#skills-sec">
              <i v-bind:class="skill.class"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio">
      <!-- Vue Row  -->
      <div class="row" id="work-samples">
        <div v-for="sample in samples">
          <div class="col-sm-3">
            <a v-bind:href="sample.link">
              <img class="img-responsive portfolio-sample"
                   v-bind:class="sample.class"
                   v-bind:src="sample.image"
                   v-bind:alt="sample.alt">
            </a>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- End Work -->
  <!-- Skills -->
  <div class="container skills anchor" id="skills-sec">
    <h2>Skills</h2>
    <div class="panel-group skills-pan center" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <a data-toggle="collapse"
               data-parent="#accordion"
               href="#collapse0">
            Front-End</a>
          </h3>
        </div>
        <div id="collapse0" class="panel-collapse collapse in">
          <!-- Vue Skill Selector -->
          <div class="panel-body">
            <div class="row" id="front-end-skills" >
              <div class="col-sm-2 col-xs-4 single-skill"
                   v-for="skill in skills">
                <a v-bind:href="skill.link" target="_blank">
                  <i v-bind:class="skill.class"></i>
                  <p>{{ skill.name }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <a data-toggle="collapse"
               data-parent="#accordion"
               href="#collapse2">
            Back-End</a>
          </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <!-- Vue Skill Selector -->
          <div class="panel-body">
            <div class="row" id="back-end-skills">
              <div class="col-sm-2 col-xs-4 single-skill"
                   v-for="skill in skills">
                <a v-bind:href="skill.link" target="_blank">
                  <i v-bind:class="skill.class"></i>
                  <p>{{ skill.name }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <a data-toggle="collapse"
               data-parent="#accordion"
               href="#collapse3">
            Workflow</a>
          </h3>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <!-- Vue Skill Selector -->
          <div class="panel-body">
            <div class="row" id="workflow-skills">
              <div class="col-sm-2 col-xs-4 single-skill"
                   v-for="skill in skills">
                <a v-bind:href="skill.link" target="_blank">
                  <i v-bind:class="skill.class"></i>
                  <p>{{ skill.name }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End Skills -->
  <!-- Contact -->
  <div class="container pull-request anchor" id="pull-request">
    <a href="https://eideldev.setmore.com/" target="_blank"> <!-- Setmore -->
      <img src="img/Pullreq.png" class="pull-shot">
    </a>
  </div><!-- End Contact -->
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-xs-8 foot">
        <div id="legal">2017</div>
      </div>
      <div class="col-xs-4 text-right">
        <!-- GitHub -->
        <a href="https://github.com/h3xar0n"
           target="_blank">
           <i class="fa fa-github"></i>
         </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/aroneidelman"
           target="_blank">
           <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <!-- JavaScript Files -->
  <!-- Vue -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/marked@0.3.6"></script>
  <script src="https://unpkg.com/lodash@4.16.0"></script>
  <!-- Main JS file -->
  <script src=js/scripts.js></script>
  <!-- Must come after scripts.js -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-TmAbDhp5UPjP0dbmDniVoMxxI3twi8E&callback=initMap"
          async defer>
  </script>
</body>
</html>
