<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1">
  <meta name="google-site-verification"
        content="gFlSLeooDPw4eRPPjZuEYr3E8ZVONOjp0RmWJZ2CEbk" />
  <title>Aron ^ Dropbox</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="hexaron.ico" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
        rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Custom styles -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet"
        href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid nav-bar-desktop">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="workName navbar-brand">
          <a class="navbar-brand" href="#land-sec">
            <!-- Nav Logo -->
            <div class="nav-logo">
                <img src="../../img/devaron.png"
                     class="important-elements"
                     alt="A small version of Aron's hexagon logo">
            </div>
            <div class="nav-logo">
                <img src="img/gitmerge.png"
                     class="important-elements"
                     alt="the git merge symbol">
            </div>
            <div class="nav-logo">
                <img src="img/logo.png"
                     class="important-elements"
                     alt="your company logo">
            </div>
          </a>
        </div> <!--end workName -->
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#readme">Readme</a></li>
          <li><a href="#culture">Culture</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#connect">Connect</a></li>
        </ul>
      </div> <!-- nav -->
    </div> <!-- end nav container-->
  </nav><!-- End Navigation-->
  <!-- Landing -->
  <div class="container-fluid logo-landing anchor" id="land-sec" >
    <div class="container-fluid" id="over-particles">
        <!-- Titles and Desktop Logo -->
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <h1>Aron Eidelman</h1>
          </div>
          <div class="col-xs-12 logo-title-center">
            <img src="../../img/devaron.png"
                 alt="Aron's hexagon logo, which loosely resembles Boba Fett's
                     icon in Star Wars, but replaces the symbols with the
                     initials A E."
                 class="important-elements">
          </div>
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h2 id="subtitle">
              Aspiring Web Developer at Dropbox
            </h2>
          </div>
          <div class="col-xs-10 col-xs-offset-1 about-action">
            <div class="col-sm-4">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <div class="modal-button">
                <a class="btn btn-main"
                   href="https://www.linkedin.com/in/aroneidelman/"
                   target="_blank">
                  View Profile
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
              <div class="center">
                <!-- Small modal button -->
                <div class="modal-button">
                  <button
                    class="btn btn-main"
                    data-toggle="modal"
                    data-target=".bs-example-modal-lg">
                      Read Résumé
                  </button>
                </div> <!-- End button -->
                <!-- Small modal for Resume-->
                <div class="modal fade bs-example-modal-lg"
                   tabindex="-1"
                   role="dialog"
                   aria-labelledby="myModalLabel1"
                   aria-hidden="true"
                   data-backdrop="static"
                   data-keyboard="false">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"
                            id="myModalLabel1">Aron's Résumé</h4>
                        <a class="close"
                           data-dismiss="modal"
                           aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <embed id="modalembed"
                               class="modal-embeds"
                               src="pdf/ARONCV.pdf">
                    </div>
                  </div>
                </div>
              </div> <!-- End modal -->
              </div>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-github" aria-hidden="true"></i>
              <div class="modal-button">
                <a class="btn btn-main"
                   href="https://github.com/h3xar0n"
                   target="_blank">
                  Review Code
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Logo Row -->
    </div> <!-- End Overlay -->
  </div><!-- End Landing -->
  <!-- README demo -->
  <div class="container readme anchor" id="readme">
    <p id="instructions">Type in this box, it really works</p>
    <div id="editor">
      <div id="editor-input">
        <textarea :value="input"
                  @input="update">
        </textarea>
      </div>
      <div id="editor-output"
           v-html="compiledMarkdown">
      </div>
    </div>
  </div>
  <div class="container culture anchor" id="culture">
    <h2>Culture</h2>
    <h3 class="quote">
      "There is nothing in nature more beneficial to us than a reasonable person."
      <br>
      - Baruch Spinoza
    </h3>
    <section id="culture-content">
      <section id="personal-values">
        <h4>Value evidence over opinion</h4>
        <p>Being considered 'right' is not as important as eventually getting it
          right. Through years of experience in a variety of roles, I have found
          that I work much better in an open, collaborative environment than in
          a competitive one where 'thumbs-up' or 'thumbs-down' trumps thoughtful
          decision-making. I work well with people who are reasonably
          open-minded and who value group success over their egos, because a
          great idea can come from anyone.
        </p>
        <br />
        <h4>Passion for learning new things</h4>
        <p>In past roles, I hit a relatively broad base of skillsets in my work.
          Fortunately, my love for learning new skills and putting them into
          practice led me to discover web development, and I have learned a new
          framework, library, or language every single month since starting.
          I am always ready to learn, and ideally I'll be able to teach you
          things as well.
        </p>
        <br />
        <h4>Sense of Ownership</h4>
        <p>Life is too short to feel anything else. When Gameplan's resources
          were too low to hire external developers, I switched modes from being
          a product manager and took it upon myself to build my web dev skills.
          Once we were back in full swing, I searched around the world for other
          like-minded, capable people who could bring our product to life.
        </p>
      </section>
      <section id="glassdoor-list">
        <h4>My favorite reviews for you on
          <img id="glassdoor-logo"
               src="img/glassdoor.png"
               alt="Glassdoor logo">
        </h4>
        <div v-for="review in reviews">
          <article>
            <img src="img/logo.png" class="review-logo">
            <div class="review-body">
              <a v-bind:href="review.link"
                 target="_blank">
                <h5 class="review-title">"{{ review.title }}"</h5>
              </a>
              <span v-for="star in review.stars">
                <img src="img/star.png" class="score-star"/>
              </span>
              <span class="author-info">{{ review.employee }} in {{ review.city }}</span>
              <article>
                <br />
                <p>{{ review.intro }}</p>
                <p><strong>Pros</strong></p>
                <p>{{ review.pros }}</p>
              </article>
            </div>
            <br class="seperator" />
          <article>
        </div>
      </section>
    </section>
  </div>
  <div class="container experience anchor" id="experience">
    <h2>Experience</h2>
    <h3 class="quote" id="metz">
      "Building software is a guiltless pleasure because we get to use our creative energy to get things done."
      <br>
      - Sandi Metz
    </h3>
    <article class="feature1" id="sirota">
      <div class="work-sample">
        <img src="img/sirota.png" alt="Sirota lab on iPhone" class="work-image">
      </div>
      <div class="work-description">
        <h4>Sirota Lab</h4>
        <p>I am currently finishing a contract for a bioinformatics and genomics
          lab at UCSF. The lab specializes in researching the effects of drugs
          at the molecular level to see if there is a way that they can be
          repurposed to treat diseases they were not intentionally created for.
          Their old site had been built with an ancient template that was laden
          with bloated, repititous, and invalid code, as well as unoptimized
          images.
          <br>
          <br>
          at their request, I left the layout and content untouched, but focused
          on (1) making the site responsive and (2) handling the repitive sections
          with JavaScript. I started working on the layout with Bootstrap, but
          quickly noticed issues with style conflicts, so I opted for using
          flexbox and media queries instead.
          <br>
          <br>
          To handle repition and interactivity, I avoided unnecessary JavaScript
          as much as possible, and opted for Vue.js and jQuery for some basic tasks.
          I had fun teaching the team the basics of Vue.js, and since they're
          all capable programmers in R and Python, I got some interesting lessons
          myself.
        </p>
      </div>
    </article>
    <article class="feature2" id="glam">
      <div class="work-description">
        <h4>Glam by Adelina</h4>
        <p>The website for
          <a href="http://glambyadelina.com/" target="_blank">
            Glam by Adelina
          </a>
          has been one of my longest projects with the most iterations. Starting
          in Atlanta and moving to San Francisco, the business itself has grown
          considerably since my work began. In that time, I have redesigned it
          three times, replaced JavaScript libraries twice, and added three
          major new features since its launch: Instagram integration, streaming
          Yelp reviews, and a booking system through Setmore similar to the one
          on this page.
          <br>
          <br>
          According to Google Analytics, lead
          generation increased over 500% in the first month since it launched
          last year, and it scores equally with word-of-mouth referals for all
          new leads. It's a great business, so the fact the site still keeps up
          with referals is pretty exciting. Many of Adelina's clients have even
          mentioned that the 'beautiful, professional website' is what inspired
          their confidence to book with her for the biggest event in their lives.
        </p>
      </div>
      <div class="work-sample">
        <img src="img/glam.png" alt="Glam by Adelina on phone and computer" class="work-image">
      </div>
    </article>
    <article class="feature1" id="gameplan">
      <div class="work-sample">
        <img src="img/gpdesk.png" alt="Gameplan jobs on desktop" class="work-image">
      </div>
      <div class="work-description" id="gp-description">
        <h4>Gameplan Jobs</h4>
        <p>
          At <a href="http://gameplanjobs.com/" target="_blank">Gameplan</a>,
          I designed and managed the development of a new
          high-volume assessment and job placement app for companies in the US,
          UK, and India. When it came time to build our prototype, it became apparent how badly we needed an in-house
          developer. As a start-up, this was not within our budget, so I stepped
          up to learn what we needed.
          <br>
          <br>
          Within two weeks of starting CareerFoundry's mentorship program, I was already
          shipping production-quality code with the rest of the Gameplan team. As
          I dove deeper into Angular, React, and Ruby on Rails, I was not only able to
          create more--I was able to help our company make informed decisions
          about which tools to use, especially whether to use a single-page
          application or the full-stack approach.
        </p>
      </div>
    </article>
    <article class="feature2" id="code">
      <div class="work-description">
        <h4>Continued Practice<h4>
        <p>I never stop learning. To keep my analytical skills sharp, I regularly
          put them into practice with test-driven development, debugging, and
          optimization. In the immortal words of Daft Punk, "Our work is never over,"
          and while I always strive to create software that will actually ship,
          I never stop improving it.
          <br>
          <br>
          While working at Gameplan, I discovered the power of GitHub Enterprise,
          which allowed our team the ability to easily collaborate and quickly
          recover whenever things went haywire. I also have a
          <a href="https://github.com/h3xar0n" target="_blank">
            private account
          </a>
          where you can check out my vast
          array of side projects.
        </p>
      </div>
      <div class="work-sample">
        <img src="img/subatomic.png" alt="Atom on desktop" class="work-image">
      </div>
    </article>
  </div>
  <!-- Skills -->
  <div class="container skills anchor" id="skills">
    <h2>Skills</h2>
    <h3 class="quote" id="wittgenstein">
      "The limits of my language mean the limits of my world."
      <br>
      - Ludwig Wittgenstein
    </h3>
    <div class="panel-group skills-pan center" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <a data-toggle="collapse"
               data-parent="#accordion"
               href="#collapse0">
            Front-End</a>
          </h3>
        </div>
        <div id="collapse0" class="panel-collapse collapse in">
          <!-- Vue Skill Selector -->
          <div class="panel-body">
            <div class="row" id="front-end-skills" >
              <div class="col-sm-2 col-xs-4 single-skill"
                   v-for="skill in skills">
                <a v-bind:href="skill.link" target="_blank">
                  <i v-bind:class="skill.class"></i>
                  <p>{{ skill.name }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <a data-toggle="collapse"
               data-parent="#accordion"
               href="#collapse2">
            Back-End</a>
          </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <!-- Vue Skill Selector -->
          <div class="panel-body">
            <div class="row" id="back-end-skills">
              <div class="col-sm-2 col-xs-4 single-skill"
                   v-for="skill in skills">
                <a v-bind:href="skill.link" target="_blank">
                  <i v-bind:class="skill.class"></i>
                  <p>{{ skill.name }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <a data-toggle="collapse"
               data-parent="#accordion"
               href="#collapse3">
            Workflow</a>
          </h3>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <!-- Vue Skill Selector -->
          <div class="panel-body">
            <div class="row" id="workflow-skills">
              <div class="col-sm-2 col-xs-4 single-skill"
                   v-for="skill in skills">
                <a v-bind:href="skill.link" target="_blank">
                  <i v-bind:class="skill.class"></i>
                  <p>{{ skill.name }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End Skills -->
  <!-- Contact -->
  <div class="container pull-request anchor" id="connect">
    <h2>Connect</h2>
    <section class="details">
      <div class="setmore">
        <iframe class="embedded-stuff" src="https://eideldev.setmore.com/"></iframe>
      </div>
      <div class="map">
        <iframe class="embedded-stuff" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50467.62937235769!2d-122.52168292333297!3d37.76127907976191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085877753edc3d1%3A0xbb5fa0834d5b5e2d!2sJudah+St+%26+28th+Ave%2C+San+Francisco%2C+CA+94122!5e0!3m2!1sen!2sus!4v1500874027663" style="border:0" allowfullscreen></iframe>
      </div>
    </section>

  </div><!-- End Contact -->
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-xs-8 foot">
        <div id="legal">2017</div>
      </div>
      <div class="col-xs-4 text-right">
        <!-- GitHub -->
        <a href="https://github.com/h3xar0n"
           target="_blank">
           <i class="fa fa-github"></i>
         </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/aroneidelman"
           target="_blank">
           <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <!-- JavaScript Files -->
  <!-- Vue -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/marked@0.3.6"></script>
  <script src="https://unpkg.com/lodash@4.16.0"></script>
  <!-- Main JS file -->
  <script src=js/scripts.js></script>
  <!-- Must come after scripts.js -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-TmAbDhp5UPjP0dbmDniVoMxxI3twi8E&callback=initMap"
          async defer>
  </script>
</body>
</html>
